<navbar></navbar>
<div class="centered90">
  <div class="static-layout">
    <h2>Shared Logistic</h2>
    <p>INTUGLO offers real time rates based on shared shipping. Our solution optimises the capacity offered by the container-sharing model. Your cargo is given a unique identification to ensure minimum contamination risk by segregating Halal from Non-Halal cargo. </p>
    <strong>Key benefits:</strong>
    <ul>
      <li>Aggregates logistics service providers based on real time information to increase visibility to both exporters and importers.</li>
      <li>Optimises cargo loads, rates and delivery times.</li>
      <li>Provides tracking and monitoring through a user-friendly real time dashboard.</li>
      <li>HS Code as Identifier.</li>
      <li>Shared Price Algorithm.</li>
      <li>Pricing Dynamics.</li>
      <li>Multi-channel Communication</li>
      <li>Halal and Non-Halal Consolidation Search Capability.</li>
      <li>Separate Incoterm for Ease of Packing.</li>
      <li>Optimized Loading Capacity by Freight Types.</li>
    </ul>
  </div>
</div>
<main-footer></main-footer>