<navbar></navbar>
<div class="centered90">
  <div class="static-layout">
    <h2>Our Core Technology</h2>
    <p>INTUGLO offers cross border sellers a complete suite of solutions to help them overcome any challenges that they
      may encounter in the course of doing business. Our innovative solutions are designed to enable real time and
      on-time connectivity to facilitate effective business decisions. Our users are guaranteed a seamless and
      synchronised flow of information. The movement of products from ideation to market can now be accessed from one
      dashboard, anytime, anywhere.</p>
    <ol type="i">
      <strong>
        <li>Global Connectivity</li>
      </strong>
      <p>The world is now borderless. Doing business globally is becoming the norm. Business owners, however, still
        face challenges especially in areas of compliance, accessibility, pricing and misalignment of information.</p>
      <p>INTUGLO’s core technology offers a seamless integration through the fusing of various mechanisms. Each gap in
        the entire production and distribution process is plugged through our innovative solutions. Our clients will
        quickly see a significant reduction in the cost of cross border selling. They will also avoid any redundancy or
        hidden cost that can negatively impact their bottom line.</p>
      <strong>
        <li>Real time Technology</li>
      </strong>
      <p>Good decisions mean good business. And for many small business owners, one of the key steps to good decision
        making is to have access to information. On-demand, unfiltered, accurate and a seamless access to real time
        information.</p>
      <p>INTUGLO’s real time and on-time technology enables our clients to receive data amid the real time. We equip
        business owners with the information to take the next-best-action, make the most relevant offers for their
        customers and to personalize their communication channels.</p>
      <strong>
        <li>Math & Algorithm</li>
      </strong>
      <p>Traditional economy that is based on inherited customs and beliefs cannot be resistant to technology and
        innovation. This is especially important for industries that want to remain relevant in the current economic
        scenario. </p>
      <p>INTUGLO’s core technology is designed as a shared economy with the integration of math and algorithm. This
        shall enable a seamless merge of the new model into the traditional economy.</p>
      <strong>
        <li>Cloud Infrastructure</li>
      </strong>
      <p>Cloud infrastructure enables software and services to run remotely on the internet. Advantages include
        reduction in cost, flexibility and a more optimized utilization of resources.</p>
      <p>INTUGLO shared platform offers business owners a faster and secure channel to market through cloud
        infrastructure. More importantly, they can make changes to their business processes and achieve their business
        goals at a reduced IT cost.</p>
      <strong>
        <li>Modular System</li>
      </strong>
      <p>Micro businesses and SMEs are more susceptible to market changes. They need to be equipped with an
        organizational business service structure that is comprised of different modules that can stand strong
        independently yet fit together seamlessly.</p>
      <p>INTUGLO’s system is designed based on a modular organization structure or in modularity. This offers accuracy
        and flexibility to our users and the assurance of strategic fit solutions for all their business needs.</p>
    </ol>
  </div>
</div>
<main-footer></main-footer>