<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Clients
        <!--<small>List</small>-->
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="main.dashboard"><i class="fa fa-dashboard"></i> Dashboard</a>
        </li>
        <li class="active">Clients</li>
    </ol>
</section>
<!-- Main content -->
<section class="content" ng-init="getAllNewsAgencies();">
    <toaster-container toaster-options="{'time-out': 3000}"></toaster-container>
    <div class="row">
        <section class="col-lg-12">
            <div class="box">
                <div class="box-header">
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <a ui-sref="main.add_news_agencies">
                            <button class="btn btn-sm btn-info">New Client</button>
                        </a>
                    </div>
                    <!-- /. tools -->
                    <h3 class="box-title">Clients</h3>
                    <div class="input-group input-group-sm col-lg-3 pull-right box-tools">
                        <input type="text" name="table_search" class="form-control pull-right" placeholder="Search" ng-model="keyword" autocomplete="false"
                            ng-change="getAllNewsAgencies(keyword)">
                            <div class="input-group-btn">
                                <button class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered table-align-center" ng-table="tableParams">
                        <tr ng-repeat="newsAgency in $data" >
                            <td data-title="'Company Name'" sortable="'company_name'">{{newsAgency.company_name}}</td>
                            <td data-title="'Sector'">{{newsAgency.sector_id.sectorName}}</td>
                           
                            <td data-title="'Status'" sortable="'status'">
                                <a href="javascript:void(0)" ng-click="changeStatus(newsAgency.status,newsAgency._id)"><span 
                                 ng-class="{'label label-success': newsAgency.status == 'Active' , 'label label-danger': newsAgency.status == 'Inactive'}"   
                                >{{newsAgency.status}}</span></a>
                            </td>
                            <td data-title="'Actions'" align="center" class="actions">
                                
                                <a class="btn btn-xs btn-info" ui-sref="main.update_newsAgency({newsAgency_id:newsAgency._id})">
                                    Edit
                                    <!--<i class="fa fa-pencil" aria-hidden="true" title="Edit News Agency"></i>-->
                                </a>
                                <a class="btn btn-xs btn-danger" ng-click="deleteNewsAgency(newsAgency._id)">
                                    Delete
                                    <!--<i class="fa fa-trash-o" aria-hidden="true" title="Delete News Agency"></i>-->
                                </a>
                                <a class="btn btn-xs btn-primary" ui-sref="main.newsAgencyCountryRiskLevel({newsAgency_id:newsAgency._id})">country risk level</a>
                            </td>
                        </tr>
                        <tr ng-if="newsAgencies.length == 0">
                            <td colspan="6" align="center">No Record Found!</td>
                        </tr>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </section>
    </div>
</section>
<!-- /.content -->
<style >
    .ng-table .header {
    color: #f9f9f9;
    background-color: #3c8dbc;
    z-index: 0;
}
</style>