<div class="row">
  <div class="col-md-4 text-left">
        <h4>Change Password </h4>
        <!-- <small *ngIf="is_password_changed"> Password changed failed</small> -->
  </div>

  <form [formGroup]="register" *ngFor="let post of users | async" (ngSubmit)="onSubmitItem(post.id )">
      <!-- <div class="form-row"> -->
            <br> 
          <div class="form-group col-md-12 col-sm-12 col-xs-12">
              <input type="password" formControlName="Password" [(ngModel)]="new_password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Password.errors }"
               placeholder="type new password" />
              <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
                  <div *ngIf="f.Password.errors.required">Password is required</div>
              </div>
          </div>
          <div class="form-group col-md-12 col-sm-12 col-xs-12">
              <br>
              <button class="btn btn-outline-info">Change Password</button> &nbsp;
              <button class="btn btn-outline-info" (click)="onCloseCancel()">Close</button>
          </div>
      <!-- </div> -->
      <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <small>Note: You are required to change your current password to add any item in this platfoarm </small>
        </div>
     
  </form>

</div>


<ul *ngFor="let post of users | async">
        <li>
          <strong>{{post.id }}</strong>
        </li>
      </ul>