<supplier-navbar (controlSideBar)="receiveDataFromHeader($event)"></supplier-navbar>


<ng-sidebar-container class="ng-container bg-color" >

    <ng-sidebar class="animate-sidebar" [(opened)]="isSideBarOpen" mode="push" position="left" autoCollapseWidth="800" animate="true">

        <supplier-left-menu [sideBar]="isSideBarOpen" [fromHSwiki]='isOpen'></supplier-left-menu>

    </ng-sidebar>

    <div  ng-sidebar-content>
        <div class="padding-left-right-0">
            <supplier-hswiki-list></supplier-hswiki-list>
        </div>
    </div>

</ng-sidebar-container>