<div class="top-menu-area subSet">
  <ul class="top-menu-list">
    <li class="tab" (click)="shareDataToParentModify()" tabindex="step" 
      [ngClass]="{tabselect : stepOne}" (click)="tabModify()">Modify / Change</li>
    <li class="tab" (click)="shareDataToParentPublish()" tabindex="step" 
      [ngClass]="{tabselect  : stepTwo}" (click)="tabPublish()">Publish Quotation</li>
    <!-- <li class="tab" (click)="shareDataToParentQuotation()" tabindex="step" 
      [ngClass]="{tabselect : stepThree}" (click)="tabQuotation()">Quotation</li> -->
  </ul>
</div>