<navbar></navbar>
<div class="centered90">
  <div class="static-layout">
    <h2>Contact Us</h2>
    <h3>Reason for Inquiry?</h3>
    <p>
      Please choose the reason for your inquiry.
    </p>
    <ul>
      <strong><li>Request for Demo</li></strong>
      <p>Contact us to request for a demo of our innovative solutions platform. Our technical team shall take you through our easy-to-use system. </p>
      <strong><li>Sales Query</li></strong>
      <p>Contact our sales team for assistance on our range of products and services.</p>
      <strong><li>Customer Service</li></strong>
      <p>Reach out to our customer service team for urgent technical and operations inquiries.</p>
    </ul>

  </div>
</div>
<main-footer></main-footer>