<div class="our-services">
    <div class="centered90 content relative">
            <p>Our</p>
            <h2>Services</h2>
            <div class="service-section">
                <div class="service-grid" routerLink="/shared-logistic">
                    <img src="../../../../../assets/img/icon-logistic.svg" alt="">
                    <p>Logistics</p>
                </div>
                <div class="service-grid" routerLink="/shared-warehouse">
                    <img src="../../../../../assets/img/icon-warehouse.svg" alt="">
                    <p>Warehouse</p>
                </div>
                <div class="service-grid" routerLink="/qc-for-hire">
                    <img src="../../../../../assets/img/icon-qc-for-hire.svg" alt="">
                    <p>QC For Hire</p>
                </div>
                <div class="service-grid" routerLink="/production-management">
                    <img src="../../../../../assets/img/icon-production-management.svg" alt="">
                    <p>Product Management</p>
                </div>
                <div class="service-grid" routerLink="/showcase">
                    <img src="../../../../../assets/img/icon-online-exibition.svg" alt="">
                    <p>24/7 Online Exhibition</p>
                </div>
                <div class="service-grid" routerLink="/multi-platform">
                    <img src="../../../../../assets/img/icon-e-procurement.svg" alt="">
                    <p>E-Procurement</p>
                </div>
                <div class="service-grid" routerLink="/market-validation">
                    <img src="../../../../../assets/img/icon-market-validation.svg" alt="">
                    <p>Market Validation</p>
                </div>
                <div class="service-grid" routerLink="/project-management">
                    <img src="../../../../../assets/img/icon-project-management.svg" alt="">
                    <p>Project Management</p>
                </div>
            </div>
    </div>
</div>