.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p{
    color: #1197A9;
    padding: 18px;
    font-size: 32px;
}
.para{
    padding: 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #0C3B64;
}