.z-depth-1 {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    min-width: 740px;
    height: 50px;
    margin-left: 15px;
    margin-bottom: -30px; }
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 2px;
    border: 1px solid transparent;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.navbar-default .navbar-brand {
    color: #777;
}

.sorting_nav .navbar-brand {
    line-height: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-brand {
    padding-top: 10px;
}

.navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 14px;
    line-height: 20px;
    height: 50px;
}
.sorting_title {
    display: none;
}
.navbar-default .navbar-toggle {
    border-color: #FFFFFF;
}

.navbar-toggle {
    height: 80px;
    overflow: hidden;
    border: none;
    padding: 20px;
    line-height: 20px;
    margin: 0;
    border-radius: 0;
}


.navbar-nav li a.dept-1 {
    height: 50px;
}


.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 10px;
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}

.navbar-nav > li {
    padding-left: 25px;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 15px 15px;
}

.sorting_nav li a {
    border-bottom: 0px !important;
}
.btn-group {
    margin-top: 5px;
    margin-bottom: 5px;
}
.btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.btn-default {
    color: #777;
    background-color: #f8f8f8;
    border-color: 1px solid #777;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 4px;
}
.btn-group>.btn+.dropdown-toggle {
    padding-right: 8px;
    padding-left: 8px;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
a {
    background-color: transparent;
}