.box{
    /* height: 317px; */
    width: 398px;	 
    background-color: #FFFFFF;
    padding: 0px;
}

.text {
    margin-left: 5%;
}

.tableDiv{
    margin-top: 2%;
    background-color: #FFFFFF;
}

.btn{
    color: white;
    background-color: #F7981c;
    margin-left: 20%;
}
.header{
    text-align: center;
    font-weight: 700;    
    margin-bottom: 9%;
}

.input-field {	
    margin-left: 5%;
    margin-right: 5%;
    box-sizing: border-box;	
    height: 35px;	
    width: 353px;	
    border: 1px solid #BBBBBB;	
    border-radius: 4px;	
    background-color: #FFFFFF;
}

.glyphicon.glyphicon-remove{
    opacity: 0.5;
}
.glyphicon.glyphicon-remove:hover{
    opacity: 1.0;
    color: #030303;
    border-radius: 45%;
    cursor: pointer;
}

.alert{
    text-align: center;
    font-family: sans-serif,Verdana,Helvetica;;	
    font-size: 12px;	
    font-weight: 600;	
    line-height: 18px;
}




