<custom-agent-navbar (controlSideBar)="receiveDataFromHeader($event)"></custom-agent-navbar>
<ng-sidebar-container class="ng-container bg-color">
  <!-- Container for sidebar(s)  -->
  <ng-sidebar class="animate-sidebar" [(opened)]="isSideBarOpen" mode="push" position="left" autoCollapseWidth="800" animate="true">
      <custom-agent-left-menu [sideBar]="isSideBarOpen" [fromCD]='isOpen'></custom-agent-left-menu>
  </ng-sidebar>
  <!-- page content starts -->
  <div class="dashboard-layout" ng-sidebar-content>
      <div class="content-area">
          <div>
              <custom-agent-declaration></custom-agent-declaration>
          </div>
      </div>
  </div>
</ng-sidebar-container>