<navbar></navbar>
<div class="centered90">
  <div class="static-layout">
    <h2>Affiliate Sponsorship</h2>
    <p>
      INTUGLO’s affiliate sponsorship program’s objective is to bridge the gap and create a supportive ecosystem
      between
      our suppliers, partners and relevant players in the market. This shall serve as one of the key steps to build a
      cross
      border connectivity within an inclusive community. This program is expected to create a positive impact on the
      economy.
    </p>
    <p>
      Our affiliate sponsorship program runs on a 1% contributing fund from our sales. It will be channelled directly
      to
      our affiliates and used for activities or programs that are aligned with our corporate objectives. It is also
      independent of the company’s marketing plan thus ensuring transparency and compliance.
      For more information on sponsorship requirements, please contact us at <a href="customerservice@intuglo.com">customerservice@intuglo.com</a> .
    </p>
  </div>
</div>
<main-footer></main-footer>