.row { margin-left: 0; margin-right: 0;}
.col-md-12 { width: 100%; padding: 0; }
.col-md-7 { width: 65.3333333333%; }
.col-md-6 { width: 50%; padding: 0; }
.col-md-3 { width: 20%; margin: 0; padding: 0; }
.container_share { margin: 0px; height: 50px; border-top-left-radius: 20px; background: #F8F9FC; }

.rating-text { display: none; }
.booknow { line-height: 40px; background: #F58220; color: #fff; text-align: center; display: block; font-size: 14px; font-weight: 300; text-transform: uppercase; margin:0; cursor: pointer; }
.booknowContainer { width: calc(100% + 5px); position: absolute; right: 5px; bottom: 0px; margin-right: -5px;}                                                                
.priceParentContainer { position: relative;}
.priceContainer { padding-top: 10px; padding-bottom: 10px; height: 174px; width: 100%; text-align: center; background: #E3E3E3; }
.priceContainer .desc { color: #666; font-size: 12px; margin: 0;}
.priceContainer .price { color: #666; font-size: 24px; margin: 0; font-weight: 300;}
.priceParentContainer .divider { margin: 5px 20px 5px 20px; height: 1px; background: white; }
#share { height: 16px;	min-width: 110px; font-size: 14px; font-weight: bold; line-height: 16px; text-align: center; }
.row-eq-height { background: #fff; width: 100%; height: 174px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; border-top: 1px solid #DEDEDE; border-bottom: 1px solid #DEDEDE; margin-bottom: 5px;}
.progressive-image { width: 90px; height: 90px; margin: 10px 0 10px 0;}
.progressive-image .progressive-image-main { width: 90px; height: 90px;}
.frieghtContainer { margin-top: 6px;}
.frieghtContainer .badge-halal { font-size: 11px; font-weight: 500; color: #fff; line-height: 16px; padding: 0 5px; display: inline-block; background: #27A327; text-transform: uppercase;}
.frieghtContainer .frieght-container-img { width: 24px; height: 24px; margin-left: 10px;}
.hscontainer { position: relative;}
.hscontainer .hs { font-size: 11px; font-weight: 400; color: #fff; line-height: 16px; padding: 0 5px; display: inline-block;}
.hscontainer .hs a { color: #fff;}
.hscontainer .hs.hs1 { background: #FFE1DA;}
.hscontainer .hs.hs2 { background: #FFF5DC;}
.hscontainer .hs.hs3 { background: #F1FCF1;}
.hscontainer .hs.hs4 { background: #DAEBFF;}
.hscontainer .hs.hs5 { background: #E4DAF3;}
.search_item_middle { padding: 15px 10px;}
.para.upd { margin-top: 20px;}
.para p { font-weight: 300; font-size: 14px; color: #666; margin-bottom: 2px;}
.para p span.semi { font-weight: 400;}
.para p span.icon-sharing { background: url(../../../../../assets/img/icon-sharing.svg) center center no-repeat; width: 16px; height: 16px; display: inline-block; position: relative; top: 3px; margin: 0 2px 0 0;}
.para p span.icon-space { background: url(../../../../../assets/img/icon-space.svg) center center no-repeat; width: 18px; height: 16px; display: inline-block; position: relative; top: 3px; margin: 0 3px 0 10px;}
.arrival-destination-badge { color: #333; font-size: 14px; font-weight: 300; margin-bottom: 15px;}