@import "styles.scss";

.wrapper {
    padding: 30px;
    h2 {
        font-size: 26px;
        font-weight: bold;
        color: $secondryColor;
        background: url(../../../../assets/images/icon-risk-assessment-title.svg) 0 0 no-repeat;  
        padding: 0 0 0 34px;      
    }
}
._table { padding-bottom: 30px; margin: 0 30px 10px 30px; border-bottom: 1px solid #DBE2E5;
    .createNew { background: #fff; cursor: pointer; height: 76px; width: 225px; border: 1px dashed #B3B6B9; @include border-radius(5px);
        img { margin: 20px 10px 0 20px;}
        .desc { margin-top: 22px;
            span {color: $secondryColor; font-size: 12px; font-family: $roboto; display: block; margin-bottom: 4px;
                &._b { font-weight: 800; text-transform: uppercase;}
            }
        }
    }
}
.filterBy {  grid-template-columns: 50px 20% 20% 1fr;
}
._tableData {}