<style>
    /* for 5 star rating */
    
    .rating {
        float: left;
    }
    /* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
    
    .rating:not(:checked) > input {
        position: absolute;
        top: -9999px;
        clip: rect(0, 0, 0, 0);
    }
    
    .rating:not(:checked) > label {
        float: right;
        width: 1em;
        padding: 0 .1em;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        font-size: 200%;
        line-height: 1.2;
        color: #ddd;
        text-shadow: 1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0, 0, 0, .5);
    }
    
    .rating:not(:checked) > label:before {
        content: '★ ';
    }
    
    .rating > input:checked ~ label {
        color: #f70;
        text-shadow: 1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0, 0, 0, .5);
    }
    
    .rating:not(:checked) > label:hover,
    .rating:not(:checked) > label:hover ~ label {
        color: gold;
        text-shadow: 1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0, 0, 0, .5);
    }
    
    .rating > input:checked + label:hover,
    .rating > input:checked + label:hover ~ label,
    .rating > input:checked ~ label:hover,
    .rating > input:checked ~ label:hover ~ label,
    .rating > label:hover ~ input:checked ~ label {
        color: #ea0;
        text-shadow: 1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0, 0, 0, .5);
    }
    
    .rating > label:active {
        position: relative;
        top: 2px;
        left: 2px;
    }
    /* for red green and amber check */
    
    .checkbox {
        display: inline-block;
        cursor: pointer;
        font-size: 13px;
        margin-right: 10px;
        line-height: 18px;
    }
    
    input[type=checkbox] {
        display: none;
    }
    
    .checkbox:before {
        content: "";
        display: inline-block;
        width: 26px;
        height: 26px;
        vertical-align: middle;
        background-color: #FFC200;
        color: #f3f3f3;
        text-align: center;
        box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
        border-radius: 3px;
    }
    
    .checkbox.pl:before {
        background-color: green;
    }
    
    .checkbox.p2:before {
        background-color: red;
    }
    
    input[type=checkbox]:checked + .checkbox:before {
        content: "\2713";
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
        font-size: 30px;
    }
</style>

<!-- Main content -->
<section class="content">
    <toaster-container toaster-options="{'time-out': 3000}"></toaster-container>
    <div class="row">
        <section class="col-lg-12" style="padding: 0px;">
            <div class="box box-primary box-solid">
                <div class="box-header">
                    <h3 class="box-title"> Add Supplier
                    </h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" name="supplierForm" novalidate class="form-horizontal form-border">
                    <div class="box-body">
                            <div class="form-group col-sm-12">
                                    <div class="col-sm-5">
                                        <label>Service Provided</label>
                                        <select name="service_provided" id="service_provided" class="js-states form-control" ng-model="supplier.service_provided" ng-selected="supplier.service_provided == option">
                                          <option value="" selected disabled hidden>Select Service Provided</option>
                                          <optgroup label="Accommodation">
                                             <option value="Hotel">Hotel</option>
                                              <option value="B &B">B&B</option>
                                              <option value="Self Catering Apartment">Self Catering Apartment</option>
                                              <option value="Air B n B">Air B n B</option>
                                              <option value="Guesthouse">Guesthouse</option>
                                              <option value="Other - please specify">Other - please specify</option>
                                          </optgroup>
                                          <optgroup label="Transportation">
                                            <option value="Taxi">Taxi</option>
                                            <option value="Airline">Airline</option>
                                            <option value="Car Rental/Self Drive">Car Rental/Self Drive</option>
                                            <option value="Chauffered vehicle">Chauffered vehicle</option>
                                            <option value="Train">Train</option>
                                            <option value="Boat/Ferry">Boat/Ferry</option>
                                            <option value="Driver">Driver</option>
                                            <option value="Other - please specify">Other - please specify</option>
                                          </optgroup>
                                          <optgroup label="Subsistence">
                                            <option value="Restaurants/Cafe/Bar">Restaurants/Cafe/Bar</option>
                                            <option value="Supermarket">Supermarket</option>
                                            <option value="Other - please specify">Other - please specify</option>
                                          </optgroup>
                                          <optgroup label="Facilitation Providers">
                                            <option value="Fixers">Fixers</option>
                                            <option value="Lawyers">Lawyers</option>
                                            <option value="Interpreters / Translators">Interpreters / Translators</option>
                                            <option value="Security Adviser">Security Adviser</option>
                                            <option value="Doctor / Medic">Doctor / Medic</option>
                                            <option value="Driver">Driver</option>
                                            <option value="Banking Facilities / Currency Exchange">Banking Facilities / Currency Exchange</option>
                                            <option value="Other - please specify">Other - please specify</option>
                                          </optgroup>
                                          <optgroup label="Equipment Providers">
                                            <option value="Local Shops Please state what kind of shop">Local Shops Please state what kind of shop</option>
                                            <option value="Other - please specify">Other - please specify</option>
                                          </optgroup>
                                          <optgroup label="Communications">
                                            <option value="Mobile Networks">Mobile Networks</option>
                                            <option value="Satellite Phone Network">Satellite Phone Network</option>
                                            <option value="Other - please specify">Other - please specify</option>
                                          </optgroup>
                                        </select>
                                      </div>
                                  <div class="col-sm-5">
                                    <label>Supplier Name</label>
                                    <input type="text" class="form-control" id="supplier_name" name="supplier_name" placeholder="Enter Supplier Name" required ng-model="supplier.supplier_name" autocomplete="off" maxlength="30" />
                                    <span class="text-danger" ng-show="supplierForm.supplier_name.$dirty &&  supplierForm.supplier_name.$error.required">Supplier name is required</span>
                                  </div>
                                  
                                </div>
                                <div class="form-group col-sm-12">
                                        <div class="col-sm-5">
                                                <label>Country</label>
                                                <select class="form-control" name="country" id="country" ng-model="supplier.country" ng-change="getSelectedCountry()" required>
                                                  <option ng-selected="true">Select Country</option>
                                                  <option ng-repeat="option in countryArr" value="{{option.name}}">{{option.name}}</option>
                            
                                                </select>
                                                <span class="text-danger" ng-show="supplierForm.country.$dirty &&  supplierForm.country.$error.required">Country is required</span>
                                              </div>
                                  <div class="col-sm-5">
                                    <label>City/Area/Location</label>
                                    <input type="text" class="form-control" id="city" name="city" placeholder="Enter City" required ng-model="supplier.city" ng-pattern="/^[a-zA-Z\.\' ]*$/" autocomplete="off" maxlength="50" />
                                    <span class="text-danger" ng-show="supplierForm.city.$dirty &&  supplierForm.city.$error.required">City is required</span>
                                    <span class="text-danger" ng-show="supplierForm.city.$dirty &&  supplierForm.city.$error.pattern">City is not valid</span>
                                  </div>
                                  
                                  
                                </div>
                                <div class="form-group col-sm-12" ng-if="superAdminUserData.super_admin == false">
                                  
                                    <div class="col-sm-5">
                                      <label>Sourced By</label>
                                      <input type="text" class="form-control" id="sourced_by" name="sourced_by" placeholder="Enter Sourced By" required ng-model="supplier.sourced_by" maxlength="50" autocomplete="off" />
                                      <span class="text-danger" ng-show="supplierForm.sourced_by.$dirty &&  supplierForm.sourced_by.$error.required">Sourced by is required</span>
                                    </div>
                  
                                    <div class="col-sm-5">
                                        <label>Priority Status</label>
                                        <select class="form-control" name="preparence" id="preparence" ng-model="supplier.preparence" >
                                            <option ng-selected="true" disabled>Select Priority Status</option>

                                          <option value="Compulsory">Compulsory</option>
                                            <option value="Prepared">Preferred</option>
                                            <option value="Normal">Normal</option>
                                        </select>
                                      </div>
                  
                                  </div>
                  
                                  <div class="form-group col-sm-12" ng-if="superAdminUserData.super_admin == true"> 
                                  
                                      <div class="col-sm-4">
                                        <label>Sourced By</label>
                                        <input type="text" class="form-control" id="sourced_by" name="sourced_by" placeholder="Enter Sourced By" required ng-model="supplier.sourced_by" maxlength="50" autocomplete="off" />
                                        <span class="text-danger" ng-show="supplierForm.sourced_by.$dirty &&  supplierForm.sourced_by.$error.required">Sourced by is required</span>
                                      </div>
                    
                                      <div class="col-sm-4">
                                          <label>Priority Status</label>
                                          <select class="form-control" name="preparence" id="preparence" ng-model="supplier.preparence" >
                                            <option ng-selected="true" disabled>Select Priority Status</option>

                                            <option value="Compulsory">Compulsory</option>
                                              <option value="Prepared">Prepared</option>
                                              <option value="Normal">Normal</option>
                                          </select>
                                        </div>
                                        <div class="col-sm-4">
                                           
                                                <label>Client</label>
                                              <select class="form-control" name="client_id" id="client_id" ng-model="supplier.client_id"  required>
                                                <option ng-selected="true" value="0">Select Client</option>
                                                <option ng-repeat="option in clientArr" value="{{option}}">{{option.company_name}}</option>
                                              </select>
                                              <span class="text-danger" ng-show="supplierForm.client_id.$dirty &&  supplierForm.client_id.$error.required">Client is required</span>
                                          </div>
                                    </div>
                                <div>
                                  <div class="form-group col-sm-12" >
                                    <div class="col-sm-4">
                                      <label  class="col-sm-12" style="padding-left: 0px"> Address</label>
                                      <input type="text" maxlength="50" autocomplete="off" class="form-control" id="address" name="address" placeholder="Enter Address " required ng-model="supplier.address" />
                                      <span class="text-danger" ng-show="supplierForm.address.$dirty &&  supplierForm.address.$error.required">Address is required</span>
                                    </div>
                                    <div class="col-sm-3 input-width-100">
                                      <label class="col-sm-12" style="padding-left: 0px">Mobile Number</label>
                                      <input type="tel" style="width: 100%" class="form-control" id="number" maxlength="15" ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/" autocomplete="off" name="number" placeholder="Enter Mobile  Number" international-phone-number required ng-model="supplier.number" />
                                      <span class="text-danger" ng-show="supplierForm.number.$dirty &&  supplierForm.number.$error.required"> Number is required</span>
                                      <span class="text-danger" ng-show="supplierForm.number.$dirty &&  supplierForm.number.$error.pattern"> Number is not valid</span>
                                    </div>
                                    <div class="col-sm-3">
                                      <label class="col-sm-12" style="padding-left: 0px">Email</label>
                                      <input type="text" class="form-control" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" id="email" name="email" autocomplete="off" placeholder="Enter Email" required ng-model="supplier.email" />
                                      <span class="text-danger" ng-show="supplierForm.email.$dirty &&  supplierForm.email.$error.required">Email is required</span>
                                     <span class="text-danger" ng-show="supplierForm.email.$dirty &&  supplierForm.email.$error.pattern">Email is not valid</span>
                                    </div>
                                   </div>
                                  <div class="form-group col-sm-12">
                                    <div class="col-sm-5">
                                      <label>Currency</label>
                                      <select class="form-control" name="currency" id="currency" ng-model="supplier.currency" ng-change="getSelectedcurrency()" required>
                                        <option ng-selected="true">Select Currency</option>
                                        <option ng-repeat="option in currencyArr" value="{{option.abbreviation}}">{{option.currency}}</option>
                                      </select>
                                      <span class="text-danger" ng-show="supplierForm.currency.$dirty &&  supplierForm.currency.$error.required">Currency is required</span>
                                    </div>
                                    <div class="col-sm-5">
                                      <label>Daily Rate</label>
                                      <input type="text" class="form-control" id="cost" name="cost" placeholder="Enter Cost Per unit/day if known" required ng-model="supplier.cost" maxlength="30" autocomplete="off" />
                                      <span class="text-danger" ng-show="supplierForm.cost.$dirty &&  supplierForm.cost.$error.required">Cost is required</span>
                                    </div>
                                  </div>
                                  <div>
                                  </div>
                                  <div class="form-group col-sm-12">
                                    <div class="col-sm-10">
                                      <label>Description</label>
                                      <textarea class="form-control" cols="23" rows="12" id="description" name="description" placeholder="Enter supplier description" ng-model="supplier.description"></textarea>
                                      <span class="text-danger" ng-show="supplierForm.description.$dirty &&  supplierForm.description.$error.required">Description is required</span>
                                    </div>
                                  </div>
                                  <div class="form-group col-sm-12">
                                
                                    <div class="col-sm-5" ng-if="supplier.service_provided =='Other - please specify'">
                                      <label>Details</label>
                                      <input type="text" class="form-control" id="Other_service" name="Other_service" placeholder="" required ng-model="supplier.other_service" autocomplete="off" />
                                    </div>
                                  </div>
                                 
                                  
                                  
                                    </div>
                                    </div>
                         <div class="" style="clear:both;" ng-show="messageError">
                             <div class="form-group col-sm-12">
                             <div class="alert alert-danger" >
                                    <div ng-bind-html="messageError" ></div>
                             </div>
                             </div>
                         </div>           
                        <div class="row">
                          
                            
                                
                                
                                 
                                <div class="form-group col-sm-12">
                                        <div class="col-sm-1"></div>
                                  <div class="col-sm-10">
                                    <label style="font-size: 20px;font-weight: 400"><i  class="fa fa-share" aria-hidden="true"></i> Want to share this information with traveller</label>
                                    <div class="onoffswitch">
                                      <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" ng-model="supplier.supplier_preview" id="myonoffswitch" checked>
                                      <label class="onoffswitch-label" for="myonoffswitch">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                      </label>
                                    </div>
                                  </div>
                                </div>
                                
                                <div class="form-group col-sm-12">
                                    <div class="form-group col-sm-10">
                                        <div class="pull-right box-tools">
                                            <button type="button" class="btn btn-sm btn-primary" ng-click="backFromSuplierinfo()"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</button>
                                            <!--ng-disabled="supplierForm.$invalid"-->
                                            <button type="button" class="btn btn-sm btn-primary" ng-click="addRaSupplierByClientAdmin(supplier)">Next <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                </form>
                </div>
        </section>
        </div>
</section>
<style>
.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Yes";
    padding-left: 10px;
    background-color: #00bc8c; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "No";
    padding-right: 10px;
    background-color: red; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
</style>