<navbar></navbar>
<div class="centered90">
  <div class="static-layout">
    <h2>Market Validation </h2>
    <p>Market validation is now available throughout the production and distribution process with INTUGLO. Our service offers real time data tracking and validated statistics. SMEs can now make better informed decisions at any stage of the process. Our ‘PAY-AS-YOU-USE’ offers SMEs valuable market insights at a reduced cost. </p>
    <strong>Key benefits:</strong>
    <ul>
      <li>Enables SMEs to track and monitor consumer trends and market preferences across multiple markets.</li>
      <li>Optimises cost management through our affordable pricing model.
      </li>
      </ul>
  </div>
</div>
<main-footer></main-footer>