<navbar></navbar>
<div class="centered90">
  <div class="static-layout">
    <h2>Our Partners</h2>
    <div class="item">
      <img class="logo" src="../../../../../assets/img/partner-platcom.png" alt="PlatCOM Ventures Logo"><br>
      <p>
        PlaTCOM Ventures Sdn Bhd is the national technology commercialisation platform of Malaysia. It is a
        wholly-owned subsidiary company of Agensi Inovasi Malaysia (AIM) formed in collaboration with SME Corporation
        Malaysia under one of its six High Impact Programmes (HIPs) in SME Master Plan 2012-2020. PlaTCOM Ventures has
        a mission: to turn the creative ideas of our inventors and entrepreneurs into successful products and services
        that change the world.
      </p>
      <p>
        Website: <a href="http://www.platcomventures.com/" target="_blank">http://www.platcomventures.com/</a>
      </p>
    </div>
    <div class="item">
      <img class="logo" src="../../../../../assets/img/partner-siroi.png" alt="SIROI Solutions Logo"><br>
      <p>
        We saw and still see a major shortage of IT Solutions and Services that meet the right balances of cost,
        quality and flexibility for businesses. We set out with the firm believe that we would find that balance
        through sound understanding of customers’ needs and problems, and offering just the right solutions and
        services in a model that works well for them. We also have a keen interest in identifying day to day life
        challenges and create innovative solutions and products that address those challenges and improve people’s
        lives and businesses.
      </p>
      <p>
        Website: <a href="http://www.siroi-solutions.com.my/" target="_blank">http://www.siroi-solutions.com.my/</a>
      </p>
    </div>
    <div class="item">
      <img class="logo" src="../../../../../assets/img/MITRANS-UiTM-New.png" alt="MITRANS Logo"><br>
      <p>
        MITRANS is Malaysia advisory transportation institute and is responsible for transportation research,
        consultancy and training. The aim of the institute is to play a leading intellectual role in strategic
        transportation and logistics planning and development. In addition, we aim to contribute to nation building by
        providing a stronger focus on delivering innovative solutions to address transportation problems. Over the
        years, MITRANS has also taken the lead in initiating changes, particularly in the application of new
        technologies, in the transportation industry.
      </p>
      <p>
        Website: <a href="http://mitrans.uitm.edu.my/" target="_blank">http://mitrans.uitm.edu.my/</a>
      </p>
    </div>
    <div class="item">
      <img class="logo" src="../../../../../assets/img/partner-utar.png" alt="UTAR Logo"><br>
      <p>
        Universiti Tunku Abdul Rahman (UTAR) was officially launched on 13 August 2002 as a not-for-profit private
        university providing affordable quality education. It is established under the UTAR Education Foundation and
        registered under the Malaysian Private Higher Educational Institutions Act 1996. Guided by its vision to be a
        global university of educational excellence, UTAR is highly reputed as one of the fastest growing private
        higher education institutions in the country with phenomenal growth in all aspects of its development since its
        inception. With the first intake of only 411 students in its Petaling Jaya campus in 2002, the University’s
        enrolment has now reached more than 25,000 students with campuses located in Kampar, Perak and Bandar Sungai
        Long, Selangor.
      </p>
      <p>
        Website: <a href="http://www.utar.edu.my/main.jsp#" target="_blank">http://www.utar.edu.my/main.jsp</a>
      </p>
    </div>
    <div class="item">
      <img class="logo" src="../../../../../assets/img/partners-molpay.svg" alt="MOLPay Logo"><br>
      <p>
        MOLPay is the leading payment gateway in Southeast Asia that connects international brands to consumers across
        region since 2005. We help our clients to establish foothold in Southeast Asian market through our full range
        of alternative payment methods such as online banking, cash at 7-Eleven (MOLPay Cash), e-wallet and more. Our
        single API serves as a connector for clients to reach all consumers across Southeast Asia.
      </p>
      <p>
        Website: <a href="www.molpay.com" target="_blank">www.molpay.com</a>
      </p>
    </div>
    <div class="item">
      <img class="logo" src="../../../../../assets/img/partner-adipven.png" alt="ADIPVEN Logo"><br>
      <p>
        ADIPVEN™ is one of Asia’s most established and leading intellectual property (IP) consultancy and
        commercialization firm. ADIPVEN™ is headquartered in Kuala Lumpur (KL), Malaysia. ADIPVEN™ attorneys have
        extensive experience in IP and commercialization of IP. ADIPVEN™ is founded by a group of IP and
        commercialization experts who see the importance of setting up an Asian-wide firm with international and local
        experts.
      </p>
      <p>
        Website: <a href="www.adipven.com" target="_blank">www.adipven.com</a>
      </p>
    </div>
    <div class="item">
      <img class="logo" src="../../../../../assets/img/partner-brandsgeek.png" alt="BrandGeeks Logo"><br>
      <p>
        Brand Geeks Inc is a boutique branding and marketing consultancy founded on the belief that there is always a
        better and more impactful way to build brands. Through our proprietary TurbochargeMyBrand approach, we
        continuously innovate to offer the right balance of strategy, creativity and engagement for our clients
        (“Turbochargers”). To date, we have guided and assisted hundreds of emerging and established brands, especially
        those by youth and targeting youth.
      </p>
      <p>
        Website: <a href="www.brandgeeksinc.com" target="_blank">www.brandgeeksinc.com</a>
      </p>
    </div>
    <div class="row"></div>
  </div>
</div>
<main-footer></main-footer>