<div class="top-menu-area subSet">
  <ul class="top-menu-list">
    <li class="tab" (click)="shareDataToParentBooking()" tabindex="step" [ngClass]="{tabselect : stepOne}" (click)="tabBooking()">Booking</li>
    <li class="tab" (click)="shareDataToParentCargo()" tabindex="step" [ngClass]="{tabselect : stepTwo}" (click)="tabCargo()">Cargo</li>
    <li class="tab" (click)="shareDataToParentPayment()" tabindex="step" [ngClass]="{tabselect : stepThree}" (click)="tabPayment()">Payment</li>
    <li class="tab" (click)="shareDataToParentCustom()" tabindex="step" [ngClass]="{tabselect : stepFour}" (click)="tabCustom()">Custom</li>
  </ul>
</div>