<navbar></navbar>
<div class="centered90">
  <div class="static-layout">
    <h2>Project Management</h2>
    <p>Total control of all on-going projects is now possible with INTUGLO’s project management tool. Our service allows SMEs to have access to an integrated management tool to strategically steer their companies’ direction. It fits the requirements for all types of products and has the flexibility to meet any business needs. </p>
    <strong>Key benefits:</strong>
    <ul>
      <li>Provides customised and industry-specific templates for project management.</li>
      <li>Allows multi-user access for third party collaboration.
      </li>
      </ul>
  </div>
</div>
<main-footer></main-footer>