<div id="foot" class="foot">
  <div class="centered90">
    <div class="row">
      <div class="col-md-3">
        <ul class="list-unstyled clear-margins">
          <li class="widget-container widget_nav_menu">
            <h1 class="title-widget">Resources</h1>
            <ul class="footerlist">
              <li><a href="#">Press & Media Releases</a></li>
              <li><a href="#">SiteMap</a></li>
              <li><a href="#">Career</a></li>
              <li><a routerLink="/privacy-policy">Privacy & Policy</a></li>
              <li><a href="#">Return and Refund Policy</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul class="list-unstyled clear-margins">
          <li class="widget-container widget_nav_menu">
            <h1 class="title-widget">Link</h1>
            <ul class="footerlist">
              <li><a href="#">Press Releases</a></li>
              <li><a href="#">Mission </a></li>
              <li><a href="#">Strategy</a></li>
              <li><a href="#">Works</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul class="list-unstyled clear-margins">
          <li class="widget-container widget_nav_menu">
            <h1 class="title-widget">Explore</h1>
            <ul class="footerlist">
              <li><a href="#">Support</a></li>
              <li><a href="#">Developers </a></li>
              <li><a href="#">Customer Services</a></li>
              <li><a href="#">Get Stared Guide</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-md-5">
        <ul class="list-unstyled clear-margins">
          <li class="widget-container widget_nav_menu">
            <h1 class="title-widget">Connect</h1>
            <ul class="social-icons" style="padding-left: 0px;">
              <li><a href="#" class="social-icon"><img src="../../../../../assets/img/icon-fb.svg" alt=""></a></li>
              <li><a href="#" class="social-icon"><img src="../../../../../assets/img/icon-tw.svg" alt=""></a></li>
              <li><a href="#" class="social-icon"><img src="../../../../../assets/img/icon-ins.svg" alt=""></a></li>
              <li><a href="#" class="social-icon"><img src="../../../../../assets/img/icon-yt.svg" alt=""></a></li>
            </ul>
            <ul class="address">
              <li>Company Name: HBG Fluxr Digital Sdn Bhd(1208312-H)</li>
              <li>Registered Address: C-09-23, Centum@Oasis Corporate Park, No. 2, Jalan PJU 1A/2, Ara Damansara, 47301 Petaling Jaya, Selangor D.E. Malaysia.</li>
              <li>Contact Number: +603-78322188</li>
              <li>E-mail: <a href="mailto:customerservice@intuglo.com">customerservice@intuglo.com</a></li>
            </ul>
            <!-- <p class="copyright" style="text-align: left;">Join our newsletter to keep be informed about offers and news.</p>
            <form action="#" id="newsletter" class="form-horizoontal">
              <div class="form-group">
                <div class="col-md-12" style="padding-left: 0px;">
                  <input name="email" id="email" placeholder="E-mail" required="required" class="form-control input-sm">
                  <button type="button" id="subscribe" class="btn btn-round btn-primary">
                    <i aria-hidden="true" class="fa fa-envelope-o"></i>
                  </button>
                </div>
              </div>
            </form> -->
          </li>
        </ul>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-12 text-center">
        <div class="footer-social-icons">
          <h4>Follow us on</h4>
          <ul class="social-icons" style="padding-left: 0px;">
            <li><a href="#" class="social-icon"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" class="social-icon"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" class="social-icon"><i class="fa fa-rss"></i></a></li>
            <li><a href="#" class="social-icon"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#" class="social-icon"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#" class="social-icon"><i class="fa fa-google-plus"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div id="footer-bottom" class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="copyright">
            © 2017, HBG Fluxr Digital SB, All rights reserved
        </div>
      </div>
    </div> -->
  </div>
</div>
