<div id="brands" class="row">
  <div class="container">
    <div id="brands" class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-3">
            <a href="#">
              <div class="progressive-image oversize" style="margin-top: 5px;">
                <div class="progressive-image-wrapper" style="padding-bottom: 13.5714%;">
                  <img class="progressive-image-main" src="~/../../../../../../assets/img/c-logo1.jpg" alt="kickstart">
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="#">
              <div class="progressive-image small">
                <div class="progressive-image-wrapper" style="padding-bottom: 88.5714%;">
                  <img class="progressive-image-main" src="~/../../../../../../assets/img/c-logo2.png">
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="#">
              <div class="progressive-image oversize">
                <div class="progressive-image-wrapper" style="padding-bottom: 26.2712%;">
                  <img class="progressive-image-main" src="~/../../../../../../assets/img/c-logo3.png">
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="#">
              <div class="progressive-image small">
                <div class="progressive-image-wrapper" style="padding-bottom: 86.1111%;">
                  <img class="progressive-image-main" src="~/../../../../../../assets/img/c-logo4.png">
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-3">
            <a href="#">
              <div class="progressive-image small">
                <div class="progressive-image-wrapper" style="padding-bottom: 72.093%;">
                  <img class="progressive-image-main" src="~/../../../../../../assets/img/c-logo5.png">
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="#">
              <div class="progressive-image medium">
                <div class="progressive-image-wrapper" style="padding-bottom: 37.8049%;">
                  <img class="progressive-image-main" src="~/../../../../../../assets/img/c-logo6.png">
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="#">
              <div class="progressive-image oversize">
                <div class="progressive-image-wrapper" style="padding-bottom: 24.031%;">
                  <img class="progressive-image-main" src="~/../../../../../../assets/img/c-logo7.png">
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="#">
              <div class="progressive-image medium">
                <div class="progressive-image-wrapper" style="padding-bottom: 40.7895%;">
                  <img class="progressive-image-main" src="~/../../../../../../assets/img/c-logo8.png">
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>