<navbar></navbar>
<div class="centered90">
  <div class="static-layout">
    <h2>Community Sponsorship</h2>
    <p>
      INTUGLO’s community sponsorship program supports individuals and not-for-profit organizations spearhead activities and events that are aligned to our mission to give back to the society. This will include initiatives put in place for members of the less privileged community to pursue entrepreneurship and eventually become a part of the INTUGLO family.
    </p>
    <p>
      The community sponsorship program is run on a 1% contributing fund from our sales. The fund will be channelled to the activities or initiatives that meet our corporate objectives. It works independently of our marketing plan thus ensuring transparency and compliance.
    </p>
    <p>For more information on sponsorship requirements, please contact us at <a href="mailto:customerservice@intuglo.com">customerservice@intuglo.com</a>.</p>
  </div>
</div>
<main-footer></main-footer>