.card { padding: 0 0 20px 0; }
#test { display: inline-block; }
.btn-select { margin-right: 6px; min-width: 60px; background: #ACACAC; text-align: center; font-size: 14px; text-transform: uppercase; color: #fff; font-weight: 400; cursor: pointer; line-height: 30px; border: 0; border-radius: 2px;}
.btn-select:focus { outline: none;}
.btn-select.active { background-color: #27A327;}

.messageStyle { text-align: center; padding-top: 1%; color: #333; font-size:16px; }