<navbar></navbar>
<div class="centered90">
  <div class="static-layout">
    <h2>Multi-platform e-procurement </h2>
    <p>INTUGLO reduces sourcing time for SMEs through our multi-platform e-procurement service. We offer the required tools to ensure our clients have access to what they need, when they need it and how much. Sourcing for Halal suppliers that meet compliance and international standards is easier with our extensive database. </p>
    <strong>Key benefits:</strong>
    <ul>
      <li>Enables sourcing of products and services through a single platform with our unique crawling algorithm and API.</li>
      <li>Consolidates searches across multiple platforms and marketplaces.
      </li>
      </ul>
  </div>
</div>
<main-footer></main-footer>