<div class="testimonials">
  <div class="centered90 content relative">
    <p>Valued</p>
    <h2>Testimonials</h2>
      <div  class="row">
      <div  class="col-sm-6">
        <div  class="media">
          <div  class="media-left d-flex mr-3">
            <a  href="#">
              <img  alt="" 
                src="../../../../../assets/img/logo-bi.jpg">
            </a>
          </div>
          <div  class="media-body">
            <div  class="testimonial">
              <p >INTUGLO offers a strategic cohesion between banks, platform and banks’ customers. Furthermore, the platform is a good partner for banks to market their products.</p>
              <p  class="overview"><b >-	SME Bank</b></p>
            </div>
          </div>
        </div>
      </div>
      <div  class="col-sm-6">
        <div  class="media">
          <div  class="media-left d-flex mr-3">
            <a  href="#">
              <img  alt="" src="../../../../../assets/img/MITRANS-UiTM-New.png">
            </a>
          </div>
          <div  class="media-body">
            <div  class="testimonial">
              <p >INTUGLO is a feasible solution that can solve cargo loading and optimise Halal cargo segregation. On top of that, the platform can feasibly merge and soften the halal supply chain with full integration to third party logistic.</p>
              <p  class="overview"><b >- MITRANS</b></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
