<div id="news-and-announment" class="newscontainer">
  <h2 class="card-title">News &amp; Announcement</h2>
  <div class="card">
    <div class="card-content subSet">
      <div class="news subSet">
        <a href="javascript:void(0)">
          <div class="col-md-2 iconcontainer">
            <img src="assets/img/icon-news-1.svg" class="newicons">
          </div>
          <div class="col-md-10">
            <div class="newstitleContainer">
              <p class="time">12/09/2017</p>
              <p class="newsdesc"><strong>Morning news:</strong> Morning is the period of time between midnight and 11:59:59 am or, more commonly, the interval
                  between sunrise and noon.</p>
            </div>
          </div>
        </a>
      </div>     
      <div class="news subSet">
        <a href="javascript:void(0)">
          <div class="col-md-2 iconcontainer">
            <img src="assets/img/icon-news-2.svg" class="newicons">
          </div>
          <div class="col-md-10">
            <div class="newstitleContainer">
              <p class="time">03/09/2017</p>
              <p class="newsdesc"><strong>Evening news:</strong> Evening is the time of the day between daytime and night or between sunset and bedtime.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="news subSet">
        <a href="javascript:void(0)">
          <div class="col-md-2 iconcontainer">
            <img src="assets/img/icon-news-3.svg" class="newicons">
          </div>
          <div class="col-md-10">
            <div class="newstitleContainer">
              <p class="time">01/09/2017</p>
              <p class="newsdesc"><strong>New product to be launch:</strong> Start your outreach activities 6-8 weeks before the official launch date and then keep
                  the news going up to, and beyond the official launch date.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="news subSet">
        <a href="javascript:void(0)">
          <div class="col-md-2 iconcontainer">
            <img src="assets/img/icon-news-4.svg" class="newicons">
          </div>
          <div class="col-md-10">
            <div class="newstitleContainer">
              <p class="time">12/09/2017</p>
              <p class="newsdesc"><strong>Morning news:</strong> Morning is the period of time between midnight and 11:59:59 am or, more commonly, the interval
                  between sunrise and noon.</p>
            </div>
          </div>
        </a>
      </div>        
      <div class="news subSet">
        <a href="javascript:void(0)">
          <div class="col-md-2 iconcontainer">
            <img src="assets/img/icon-news-1.svg" class="newicons">
          </div>
          <div class="col-md-10">
            <div class="newstitleContainer">
              <p class="time">03/09/2017</p>
              <p class="newsdesc"><strong>Evening news:</strong> Evening is the time of the day between daytime and night or between sunset and bedtime.</p>
            </div>
          </div>
        </a>
      </div>  
      <div class="news subSet">
        <a href="javascript:void(0)">
          <div class="col-md-2 iconcontainer">
            <img src="assets/img/icon-news-2.svg" class="newicons">
          </div>
          <div class="col-md-10">
            <div class="newstitleContainer">
              <p class="time">01/09/2017</p>
              <p class="newsdesc"><strong>New product to be launch:</strong> Start your outreach activities 6-8 weeks before the official launch date and then keep
                  the news going up to, and beyond the official launch date.</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
