
<div class="container">
    <h2 class="text-center">
        <strong>My Item History</strong>
        <br>
        <small *ngFor="let user of userData;" >{{user.name}}</small>
    </h2>

    <form [formGroup]="register" (ngSubmit)="onSubmitItem()">
        <div class="form-row">
            <div class="form-group col-md-7">
                <input type="text" formControlName="ItemDescription" #desciption [(ngModel)]="item_description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ItemDescription.errors }"
                 placeholder="Item Description" />
                <div *ngIf="submitted && f.ItemDescription.errors" class="invalid-feedback">
                    <div *ngIf="f.ItemDescription.errors.required">Item Description is required</div>
                </div>
            </div>
            <div class="form-group col-md-3">
                <input type="number" formControlName="Price" #price [(ngModel)]="item_price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Price.errors }"
                placeholder="price" />
                <div *ngIf="submitted && f.Price.errors" class="invalid-feedback">
                    <div *ngIf="f.Price.errors.required">Price is required</div>
                </div>
            </div>
            <div class="form-group col-md-2">
                <button class="btn btn-primary">Add Item</button>
            </div>
        </div>


    </form>



    <table>
        <tr>
            <th>#</th>
            <th class="text-center">Date & Time</th>
            <th class="text-center">Desciption</th>
            <th class="text-center">Price (MYR)</th>
        </tr>
        <tr *ngFor="let item of items | async; let i = index">
            <td>{{i+1}}</td>
            <td class="text-center">{{ item.date_time }}</td>
            <td class="text-center">{{ item.item_description }}</td>
            <td class="text-center">{{ item.price }}</td>
            <!-- <td> -->
                <!-- <button (click)="add()" type="button" class="btn btn-sm btn-outline-secondary">Add</button> &nbsp; -->
                <!-- <button (click)="update(dat.id)" type="button" class="btn btn-sm btn-outline-secondary">Update</button> &nbsp;
                <button (click)="deleteDoc(dat.id)" type="button" class="btn btn-sm btn-outline-secondary">Delete</button>
            </td> -->
        </tr>
        <tr>
                <th class="text-center" colspan="3">Your Total Expenditure </th>
                <th class="text-center">MYR {{total_price}}</th>
            </tr>

    </table>
    <br>
</div>



<br>
<div class="row">
    <div class="col-md-12 text-center">
        <button type="button" class="btn btn-outline-warning" (click)="logOut()"> Log Out </button>&nbsp;
        <button type="button" class="btn btn-outline-info" (click)="dashboard()"> My Dashboard </button> &nbsp;
        <button type="button" class="btn btn-outline-info" (click)="myHistory()"> My History </button> &nbsp;
        <button type="button" class="btn btn-outline-info" (click)="inventory()"> Inventory </button>
    </div>
</div>

<!-- <div class="container" *ngIf="view">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Update User</h2>
            <form [formGroup]="updater" (ngSubmit)="onUpdate()">
                <div class="form-group">
                    <label>Name {{name}}</label>
                    <input type="text" formControlName="namer" [(ngModel)]="namer" class="form-control" [ngClass]="{ 'is-invalid': submitted && g.namer.errors }"
                    />
                    <div *ngIf="submitted && g.namer.errors" class="invalid-feedback">
                        <div *ngIf="g.namer.errors.required">Name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Company {{company}}</label>
                    <input type="text" formControlName="companyr" [(ngModel)]="companyr" class="form-control" [ngClass]="{ 'is-invalid': submitted && g.companyr.errors }"
                    />
                    <div *ngIf="submitted && g.companyr.errors" class="invalid-feedback">
                        <div *ngIf="g.companyr.errors.required">Company is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Address {{address}}</label>
                    <input type="text" formControlName="addressr" [(ngModel)]="addressr" class="form-control" [ngClass]="{ 'is-invalid': submitted && g.addressr.errors }"
                    />
                    <div *ngIf="submitted && g.addressr.errors" class="invalid-feedback">
                        <div *ngIf="g.addressr.errors.required">Address is required</div>
                    </div>
                </div>


                <div class="form-group">
                    <button class="btn btn-primary">Update User</button>
                </div>
            </form>
        </div>
    </div>
</div> -->

