<ngx-loading [show]="loading" [config]="{ primaryColour: 'red', secondaryColour: 'blue', tertiaryColour: 'red', fullScreenBackdrop:true}"></ngx-loading>
<div class="subSet wrapper">
  <h2>Select Template</h2>
</div>
<div class="centeredLayout material-popup mg-top-20 subSet _table">
  
  <div class="filterBy">
    <span>Filter by:</span>
    <select><option value="1">Created By</option></select>
    <select><option value="1">Most Used</option></select>
    <form [formGroup]="searchRaTemplateForm" (submit)="search(searchRaTemplateForm.value.searchKey)">
    <div class="relative">
      <input class="_search" formControlName="searchKey" #_search type="text" placeholder="Search Assessments...">
      <span (click)="search(_search.value)" class="_search-icon"></span>
    </div>
  </form>
  </div>
  <div class="_tableData">
    <app-simple-table 
    [rows]="rows" 
    [columns]="columns" 
    [page]="page" 
    [actions] = "actions"
    (emitEventChange)="receiveEvent($event)"
    *ngIf="loading === false"
    >
    </app-simple-table>
  </div>
</div>

<span class="_close-mat" (click)="closeModal();"></span>