.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    line-height: 2%;
    margin-bottom: 0%;
    font-size: 12px;
}

.icon-fa-custsupport:before{
    overflow: visible;
    width: 1em;
    content:"\f057";
    font-size: 15px;
    font-family: FontAwesome;
    height: 1em;
    overflow: visible;
}
.glyphicon.glyphicon-remove{
    opacity: 0.5;
}
.glyphicon.glyphicon-remove:hover{
    opacity: 1.0;
    color: #030303;
    border-radius: 45%;
    cursor: pointer;
}


.login-popup { min-width: 620px;}
.login-popup .width50 { width: 50%;}
.login-popup-close { position: absolute; top: 10px; right: 10px; background: url(../../../../../assets/img/icon-dialog-close.svg) center center no-repeat; width: 24px; height: 24px; cursor: pointer;}
.login-section { padding: 20px;}
.login-intuglo { color: #333333; font-size: 20px; font-weight: 200; }
.email-address-password { color: #333333; font-size: 14px; font-weight: 200;}
.forget-password { color: #F58220; font-size: 14px; text-decoration: none; cursor: pointer; display: block; margin-bottom: 10px; font-weight: 300;}
.login { cursor: pointer; display: inline-block; text-align: center; background: #F58220; font-size: 14px; font-weight: 300; text-transform: uppercase; line-height: 36px; min-width: 120px;  color: #ffffff;}
.login:hover { text-decoration: none;}

.sprt { width: 1px; background: #dadada; height: 90%; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; display: block; }

.signup { padding: 20px; }
.welcome-to-www-intug { color: #333333; font-size: 20px; font-weight: 200; margin-bottom: 5px;} 
.choose-option { color: #333333; font-size: 14px; font-weight: 200; }
.btn-customer-partner {	border:1px solid #F58220; line-height: 36px; width: 200px; color: #F58220; display: block; text-align: center; font-weight: 300; margin: 10px auto; font-size: 13px; text-transform: uppercase;}
.btn-customer-partner:hover { text-decoration: none;}