<navbar></navbar>
<div class="centered90">
  <div class="static-layout">
    <h2>Privacy Policy</h2>
    <p>This Privacy Policy (“Privacy Policy”) describes how INTUGLO (Company No. Company No. 1208312-H)
      and its respective subsidiaries, associate companies and jointly controlled entities (“INTUGLO”) use
      your Personal Data.</p>
    <p>INTUGLO is referred to as “we”, “us”, “our” or “ours”. Any person using and accessing this Site, the
      Content or the Services is referred to as the “User”, “you” or “yours”.</p>  
    <strong>Acknowledgement and Consent</strong>  
    <p>By communicating with us, using our services, purchasing products or services from us or by virtue of
      your engagement with us, you acknowledge that you have read and understood this Privacy Policy
      and agree and consent to the use, processing and transfer of your Personal Data by us as described in
      this Privacy Policy.</p>
    <p>We shall have the right to modify, update or amend the terms of this Privacy Policy at any time by
      placing the updated Privacy Policy on the Websites. By continuing to communicate with us, by
      continuing to use our services, purchasing products from us or by your continued engagement with
      us following the modifications, updates or amendments to this Privacy Policy, such actions shall signify
      your acceptance of such modifications, updates or amendments.</p>  
    <p>In the event of any conflict between the English and other language versions, the English version shall
      prevail.</p>  
    <strong>Collection of Personal Data</strong>  
    <p>“Personal Data” means information about you, from which you are identifiable, including but not
      limited to your name, identification card number, birth certificate number, passport number,
      nationality, address, countries, telephone number, fax number, bank details, credit card details, race,
      gender, date of birth, marital status, resident status, education background, financial background,
      personal interests, email address, your occupation, your designation in your company, your company
      details, the industry in which you work in, business registration, business address, customs of
      countries of trade and any information about you which you have provided to us in registration forms,
      application forms or any other similar forms and/or any information about you that has been or may
      be collected, stored, used and processed by us from time to time and includes sensitive personal data
      such as data relating to health, religious or other similar beliefs.</p>  
    <p>The provision of your Personal Data is voluntary. However, if you do not provide INTUGLO your
      Personal Data, INTUGLO will not be able to process your Personal Data for the Purposes and Additional
      Purposes outlined below and may cause INTUGLO to be unable to provide services or accept payments
      from you.</p>  
    <strong>Sources from which your strongersonal Data may be obtained</strong>
    <p>In addition to the Personal Data you provide to us directly, we may collect your Personal Data from a
      variety of sources such as:</p>  
    <ul>
      <li>Fill up and completing application or registration forms or any other similar forms via online or otherwise.</li>
      <li>When you register at the Site(s) as a user.</li>
      <li>From publicly available sources such as directories</li>
      <li>From social media platforms’ pages, if you subscribe, follow, like or are a fan of such pages.</li>
      <li>From credit reporting agencies.</li>
      <li>When you interact and communicate with us at any events, activities or through social media platforms.</li>
      <li>From various entities or divisions under INTUGLO.</li>
      <li>Your personal data may also be collected from cookies used on the Websites.</li>
      <li>From our server logs when you log into the Websites, such as details of internet protocol address.</li>
      <li>From telephone log information when you call us, such as your telephone number.</li>
    </ul>
    <strong>Purposes of Processing</strong>  
    <p>We may use and process your Personal Data for business, and administrative purposes of INTUGLO
      which shall include, without limitation the following (“the Purpose”).</p>
    <p>Where you are our customer or our clients</p>  
    <ul>
      <li>To process your registration, subscription, purchases of our services.</li>
      <li>To perform our obligations in respect of any contract entered into with you.
      <li>To provide you with any services or products you have requested.</li>
      <li>To process your purchase or request from our Seller.</li>  
      <li>Trocess, manage or verify your Order, purchase or booking of our services.</li>  
      <li>To validate your purchases and process payments relating to any services you have requested.</li>  
      <li>To understand and analyse our sales as well as your needs and preferences.</li>  
      <li>To develop, enhance and provide products and services to meet your needs and.</li>  
      <li>To process changes to our services.</li>
    </ul>
    <p>Where you are a Seller or Buyer</p>
    <ul>
      <li>For the purposes of engaging you to provide services or products.</li>
      <li>To facilitate or enable any checks as may be required by us in order to engage you.</li>
      <li>To process payments for charges and taxes of the products or services that you have provided to INTUGLO and.</li>
      <li>To contact you or your company.</li>
    </ul>
    <p>General</p>
    <ul>
      <li>To respond to questions, comments and feedback from you.</li>
      <li>To communicate with you for any of the purposes listed in this Privacy Policy.</li>
      <li>To maintain, improving or enhance the delivery of our customer service.</li>
      <li>For internal administrative purposes, such as auditing, data analysis, database records.</li>
      <li>For purposes of investigation, detection, prevention and prosecution of security breaches, crime or fraud.</li>
      <li>For us to comply with its obligations under law; and.</li>
      <li>To maintain appropriate records for internal administrative purposes.</li>
    </ul>
    <p>By using the Websites, our services, you agree and consent that we use, process and store your
      Personal Data for the Purposes and in the manner as identified in this Privacy Policy.</p>
    <strong>Marketing and promotional purposes</strong>  
    <p>We may also use and process your Personal Data for other purposes such as (“Additional Purposes”).</p>
    <ul>
      <li>To send you alerts, newsletters, updates, mailers, promotional materials, special privileges,
        greetings from us, our partners, sponsors or advertisers.</li>
      <li>To notify and invite you to events or activities organised by us, our partners, sponsors or
        advertisers.</li>
      <li>To process your registration to participate in or attend an event or activity and to
        communicate with you regarding your attendance at the event or activity.</li>
      <li>To share your Personal Data amongst our holding company, affiliates, subsidiaries, associate
        companies and jointly controlled entities for the Purpose and to market their products,
        services, events or promotions and.</li>  
      <li>To share your name and contact number with our partners, advertisers, event companies or
        sponsors who may communicate with you, for the purpose of marketing and promotions.</li>
    </ul>
    <p>By way of postage, personal delivery, courier service, e-mail, call or message either through electronic
      devices or mobile applications, or any other platforms on the internet.</p>
    <strong>Transfer of Personal Data</strong>
    <p>Your Personal Data may be transferred to, stored, used and processed in a jurisdiction other than
      Malaysia, to companies under INTUGLO which are located outside of Malaysia and/or where
      INTUGLO’s servers are located outside of Malaysia. You understand and consent to the transfer of
      your Personal Data out of Malaysia as described herein.</p>
    <strong>Disclosure to Third Parties</strong>  
    <p>Your personal data may be transferred, accessed or disclosed to third parties for the Purposes and
      Additional Purposes. Further, we may engage other companies, service providers or individuals to
      perform functions on its behalf, and consequently may provide access or disclose to your Personal
      Data to such service providers or third parties. The third parties referred to in this Section include
      (without limitation).</p>
    <ul>
      <li>Delivery agents or vendors.</li>
      <li>Our partners and advertisers, which include parties with whom we collaborate with for certain
        events, programmes and activities.</li>
      <li>Event management companies and event sponsors.</li>  
      <li>Marketing research companies.</li>
      <li>Service providers, including, information technology (IT) service providers for infrastructure,
        software and development work.</li>
      <li>Professional advisors and external auditors, including legal advisors, financial advisors and
        consultants.</li>  
      <li>Other entities within INTUGLO and.</li>  
      <li>Governmental authorities to comply with statutory, regulatory and governmental
        requirements.</li>
    </ul>  
    <p>Your Personal Data may also be shared in connection with a corporate transaction, such as a sale of a
      subsidiary or a division, merger, consolidation, or asset sale, or in the unlikely event of winding-up.</p>
    <strong>Withdraw or revoke consent</strong>  
    <p>Please call us if you wish to withdraw or revoke your consent from our use and process your Personal
      Data for the Purposes and the Additional Purpose as stipulated herein.</p>
    <strong>Access & Correction Requests and Inquiries, Limiting the Processing of Personal Data</strong>  
    <p>You may submit your complaints, request for access to and/or request correction of your Personal
      Data, request to limit the processing of your Personal Data for the Additional Purposes and/or make
      any inquiries regarding your Personal Data by contacting.</p>
    <ul>
      <li>Designation: CEO</li>
      <li>Address: -09-23, Centum@Oasis Corporate Park, Jalan 1A/2, Are Damansara, 47301 Petaling
        Jaya, Selangor Darul Ehsan</li>
      <li>Email: customerservice@intuglo.com</li>  
      <li>Telephone Number: +603 - 7832 2188</li>
      <li>Fax Number: +603 - 7832 2188</li>
      <li>Operating Hours: 9am - 6pm from Mondays – Fridays</li>
    </ul>  
    <p>We may impose a fee for processing the aforesaid requests.</p>
    <p>In respect of your right to access and/or correct your Personal Data, we have the right to refuse your
      requests to access and/or make any correction to your Personal Data for the reasons permitted under
      law, such as where the expense of providing access to you is disproportionate to the risks to your or
      another person’s privacy.</p>
    <p>If you do not wish for your Personal Data to be collected via cookies on the Websites, you may
      deactivate cookies by adjusting your internet browser settings to disable, block or deactivate cookies,
      by deleting your browsing history and clearing the cache from your internet browser.</p> 
    <strong>Consent from third parties</strong>   
    <p>In some circumstances you may have provided personal data relating to other individuals (such as
      your spouse, family members or friends) and in such circumstances you represent and warrant that
      you are authorised to provide their personal data to us and you have obtained their consent for their
      personal data to be processed and used in the manner as set forth in this Privacy Policy.</p>  
    <strong>Links to Third-Party Websites</strong>  
    <p>The Websites may contain links to third parties' websites. Please note that we are not responsible for
      the collection, use, maintenance, sharing, or disclosure of data and information by such third parties.
      If you provide information directly to such sites, the privacy policy and terms of service on those sites
      are applicable and we are not responsible for the information processing practices or privacy policies
      of such sites.</p>
  </div>
</div>
<main-footer></main-footer>