<div class="box">
  <span (click)="onCloseCancel()" class="cross"></span>
  <h2>Forgot Password</h2>
  <div *ngIf="demo" class="description">
    <form role="form" [formGroup]="form" (ngSubmit)="resetPassword()">
      <p>Your registered email address:</p>
      <input type="email" name="email" placeholder="e.g. user@domain.com" [(ngModel)]="email" class="form-control" formControlName="Email">
      <button type="submit" class="btn-primary">Submit</button>
    </form>
  </div>

  <div *ngIf="registered" class="description">
    <p>Your email address is not registered. Please signup to register your email.</p>
  </div>

  <div *ngIf="sent_email" class="description">
    <p>An email for reset password has been sent to your email address. Please check your email.</p>
  </div>

  <div *ngIf="account_status_not_active" class="description">
    <p>Your account is not activated. Please check your email to activate your account or click here to resend your activation link.</p>
  </div>
</div>