@import "styles.scss";

._leftNav {
    background: rgb(13, 34, 52);
    min-height: 100vw;
    width: 75px;
    position: $fixed;
    top: $zero;
    left: $zero;
}
._wrapper {
    padding-left: 75px;
}
._my-profile-info {
    display: inline-block;
    font-size: 11px;
}
.overlay { background: #087483; height: 100vh; width: 100vw; position: $fixed; top: 0; left: 0; z-index: 10;
    .crossLine { width: 70px; border-right: 1px solid #5BA3AD; height: 100vh;
        .cross { background: url(../../../../assets/images/icon-cross.svg) center center no-repeat;
            width: 24px;
            height: 24px;
            display: block;
            cursor: pointer;
            position: relative;
            top: 20px;
            left: 24px;}
    }
    .menuWraper { width: calc(100vw - 371px);
        ._searchBar { background: #0F6C79; height: 70px;
            ._search { background: url(../../../../assets/images/icon-search.svg) right 15px center no-repeat #fff; 
                @include border-radius(20px);
                padding: 9px 40px 9px 20px;
                border: 0;
                margin: 15px 0 0 15px;
                width: 420px;
                outline: none;
                background-size: 16px;
                font-size: 13px;
                color: $primaryColor;
                font-style: oblique;
            }
        }
        .menu { width: 250px; height: calc(100vh - 70px); text-align: right; padding-top: 40px;
            li { list-style: none;
                a { display: block; color: #9ADCE5; font-size: 16px; font-weight: 600; @include uppercase; padding: 15px 20px 15px 0; font-family: $overpass;
                    &:hover { background: #5BA3AD; text-decoration: none;}
                    cursor: pointer;
                }                
            }
        }
        .subMenu { padding: 50px 0 0 0; width: 250px; height: calc(100vh - 70px);border-left: 1px solid #5BA3AD;
            li { list-style: none;
               color: #fff; font-size: 15px; display: block; padding: 15px 10px 15px 20px; font-family: $overpass;
                    background: url(../../../../assets/images/icon-li-arrow.svg) left 10px center no-repeat;
                    &:hover { background-color: #5BA3AD; text-decoration: none;}
                cursor: pointer;               
            }
        }
        .active {background-color: #5BA3AD !important; text-decoration: none;}
    }
    .profile {
        background: #F4F4F4;
        height: 100vh;
        width: 300px;
        padding: 100px 30px 30px 30px;
        text-align: center;

        ul {
            li { margin-bottom: 10px; font-family: $overpass;
                .user { width: 20px; height: 20px; margin-bottom: 10px;}
                a { color: #5B636F; font-size: 15px;}
            &.title { font-size: 16px; text-transform: uppercase;  @include bold(800);
                color: $secondryColor; margin-bottom: 20px;}
            &.sb { color: #0D2234; font-weight: 500;}    
            &.copy { color: #414141; font-size: 11px; margin-top: 10px;}
            }
            &:nth-child(2) { padding-top: 20px;}  
            &:nth-child(3) { margin-top: 60px;}    
        &.sptr { border-bottom: 1px solid rgba(91, 99, 111, 0.35); margin-bottom: 20px; padding-bottom: 20px;}
        }                
    }
}