<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Risk Labels
        <!-- <small>New Contact</small> -->
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="main.dashboard"><i class="fa fa-dashboard"></i> Dashboard</a>
        </li>
        <li class="active">Risk Labels</li>
    </ol>
</section>
<!-- Main content -->
<section class="content" ng-init="getCategoryDetails();getTypesOfRa();">
    <toaster-container toaster-options="{'time-out': 3000}"></toaster-container>
    <div class="row">
        <section class="col-lg-12">
            <div class="box box-primary box-solid">
                <div class="box-header">
                    <h3 class="box-title">Update Risk Labels
                    </h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" name="categoryForm" novalidate class="form-horizontal">
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group col-sm-7">
                                <label class="col-sm-4 control-label">Risk Label</label>
                                <div class="col-sm-8">
                                <!-- ng-pattern="/^[a-zA-Z]+[a-zA-Z' ]*$/" -->
                                    <input type="text" class="form-control" id="category_name" maxlength="50"  autocomplete="off"
                                        name="category_name" placeholder="Enter Risk Label" required ng-model="category.categoryName"
                                    />
                                    <span class="text-danger" ng-show="categoryForm.category_name.$dirty &&  categoryForm.category_name.$error.required">Risk Label is required</span>
                              <!--       <span class="text-danger" ng-show="categoryForm.category_name.$dirty &&  categoryForm.category_name.$error.pattern">Risk Label is not valid </span> -->
                                </div>
                            </div>
                             <div class="form-group col-sm-7">
                                <label class="col-sm-4 control-label">sector</label>
                                <div class="col-sm-8">
                                    <div isteven-multi-select input-model="sectorArr" output-model="category.sectorName" button-label="sectorName" item-label="sectorName"
                                        output-properties="_id" tick-property="ticked" data-toggle="tooltip" data-placement="top"
                                        title="Select sectorName" data-trigger="hover" tabindex="6"></div>
                                <span class="text-danger" ng-show="categoryForm.sectorName.$dirty &&  categoryForm.sectorName.$error.required">Risk Label is required</span>
                              </div>
                            </div>
                            <!--<div class="form-group col-sm-7">-->
                                <!--<label  class="col-sm-4 control-label">Country</label>
                                <div class="col-sm-8">
                                    <input class="form-control"  ng-model="category.country.name" disabled/>
                                </div>-->
                                <!--<label class="col-sm-4 control-label">Select Country</label>
                                <div class="col-sm-8">-->
                                    <!--<select class="form-control" name="country" id="country" ng-model="category.country" ng-change="getSelectedCountry()" required>
                                        <option ng-selected="true">Select Country</option>
      <option ng-repeat="option in countryArr" ng-selected="option.name == category.country.name" value="{{option._id}}">{{option.name}}</option>
    </select>-->
                                    <!--<div isteven-multi-select input-model="countryArr" output-model="category.country" button-label="name" item-label="name"
                                        output-properties="name" tick-property="ticked" data-toggle="tooltip" data-placement="top"
                                        title="Select Country" data-trigger="hover" tabindex="6"></div>
                                <span class="text-danger" ng-show="categoryForm.country.$dirty &&  categoryForm.country.$error.required">Country is required</span>
                            </div>
                        </div>-->
                        <!--<div class="form-group col-sm-7">
                            <label class="col-sm-4 control-label">Type Of RA</label>
                            <div class="col-sm-8">
                                <select class="form-control" name="types_of_ra_id" id="types_of_ra_id" ng-model="category.types_of_ra_id" required >
                                        <option ng-selected="true">Select Type Of RA</option>
                                        <option ng-selected="category.types_of_ra_id == option._id" ng-repeat="option in typeOfRas" value="{{option._id}}">{{option.ra_name}}</option>
                                     </select>
                                <span class="text-danger" ng-show="categoryForm.types_of_ra_id.$dirty &&  categoryForm.types_of_ra_id.$error.required">Type of ra is required</span>
                            </div>
                        </div>-->
                        <div class="form-group col-sm-7">
                            <div class="pull-right box-tools">
                                <button ng-disabled="categoryForm.$invalid" type="button" class="btn btn-sm btn-primary" style="margin-right: 16px;" ng-click="updateCategory(category);">Update Risk Label</button>
                            </div>
                        </div>
                    </div>
                    </div>
                    <!-- /.box-body -->
                </form>
            </div>
        </section>
    </div>
</section>