.center{
    padding-left: 23%;
}
p{
    font-weight: 700;
}
.request{
    background-color: #f39c12;
    border-color: #e08e0b
}
.row button{
    line-height: 33px;
}
.label{
    font-size: 14px;
    font-weight: 700;
}
.title{
    font-size: 22px;
}
.checkboxArea .checkboxBlock{
    margin-bottom: 10px;
}