label{
    text-transform: uppercase;
}
rating {
    outline: none;
    span{
        outline: none;
    }
}
.outline-none{
    outline: none;
}
.nav-tab {
    border-left: none;
    border-top: none;
    border-right: none;
}
.tab-content {
    margin-top: 0;
    border-top: none;
    padding-top: 0;
}
.nav-link {
    outline: none;
}
.file{
    border: 1px solid darkgrey;
    margin-right:15px;
    background: #f8f8f9;
    padding: 5px 15px;
}
.bs-rating-star {
    outline: none;
}