.flipcard p { font-size: 20px; font-weight: 500; color: #23376D; margin: 0 0 -10px 0; text-transform: uppercase; text-align: left; font-family: montserrat;}
.flipcard h2 { font-size: 45px; font-weight: 100; color: #23376D; margin: 0; text-align: left; font-family: montserrat; margin-bottom: 20px;}
.row { margin: 0 -10px;}
.col-lg-12 { padding: 0;}
.col-md-3 { padding-right: 0;}
.col-md-12 { padding: 0;}