<navbar></navbar>
<div class="centered90">
  <div class="static-layout">
    <h2>Production Management</h2>
    <p>INTUGLO offers an easier and more reliable working environment for our partners with our production management tool. It has an in-build real time production tracker and compliance guidelines to ensure quality assurance from start to end. Our winning proposition is access to various production stages from ONE dashboard, anytime, anywhere. </p>
    <strong>Key benefits:</strong>
    <ul>
      <li>Provides visibility of validated OEMs for SMEs to ensure quality production.</li>
      <li>Enhances communication efficiency between SMEs and OEMs.</li>
      <li>Provides guidelines and frameworks to ensure compliance with product quality regulations and standards.</li>
      </ul>
  </div>
</div>
<main-footer></main-footer>