.box { width: 450px; background-color: #FFFFFF; padding: 20px; position: relative;}
.box .cross {background: url(../../../../../assets/img/icon-dialog-close.svg) center center no-repeat; width: 24px; height: 24px; cursor: pointer; position: absolute; top: 10px; right: 10px;}
.box h2 { font-size: 20px; color: #333; font-weight: 100; margin: 0 0 20px 0;}
.box .description {}
.box .description p {font-size: 14px; color: #333; font-weight: 400;}