<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--[if IE]><html xmlns="http://www.w3.org/1999/xhtml" class="ie"><![endif]-->
<!--[if !IE]><!-->
<html style="margin: 0;padding: 0;" xmlns="http://www.w3.org/1999/xhtml">
<!--<![endif]-->

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title></title>
  <!--[if !mso]><!-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--<![endif]-->
  <meta name="viewport" content="width=device-width">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <style type="text/css">
    .heading {
      color: #087483;
    }
    ._bold {
      font-weight: bold;
    }
    ._block {
      display: block;
    }
    .mg-top-35 {
      margin-top: 35px;
    }
    .mg-btm-20 {
      margin-bottom: 20px;
    }
  </style>
  <meta name="robots" content="noindex,nofollow"></meta>
  <meta property="og:title" content="Get up close with Amy Grant in Alaska"></meta>
</head>
<!--[if mso]>
  <body class="mso">
<![endif]-->
<!--[if !mso]><!-->

<body class="no-padding" style="border-bottom: 10px solid #087483; width: 80%;margin-left:10%;padding-bottom:40px;-webkit-text-size-adjust: 100%;">
  <div style="border-bottom: 1px solid #f5f5f5;padding-bottom:20px;text-align: center;">
    <img src="https://s3.eu-west-2.amazonaws.com/riskapl-images/public/logo.png" />
  </div>
  <div>
    <h4 style="color:#e5e5e5">New Notification</h4>
    <div>
      <h1 class="heading">Dear Chriss</h1>
      <p>Thank you for submitting the risk assessment for <span class="_bold"><%= templateName %></span></p>
      <p>The risk assessment is now with <%= approvingManager %>. To request further amends or
access the document please contact them or your system administrator</p>
      <div><span class="_block">Thank You</span><span class="_block">RiskPal Team</span></div>
    </div>
  </div>
  <div class="heading _bold mg-top-35">
    <a href="<%= token %>">View Update On RiskPal <i style="margin-left:5px;" class="fa fa-external-link"></i></a>
  </div>
</body>

</html>