<navbar></navbar>
<div class="centered90">
  <div class="static-layout">
    <h2>Shared Warehouse</h2>
    <p>INTUGLO offers a global warehousing service with daily dynamic real-time ONE rate. Our search engine will make the best warehouse recommendation that meets your requirements such as rates, location and loading capacity. This service is available for both Halal and Non-Halal cargo.</p>
    <strong>Key benefits:</strong>
    <ul>
      <li>Provides visibility on shared warehousing availability based on product fulfilment.</li>
      <li>Optimises cost and ensures quality care.</li>
      </ul>
  </div>
</div>
<main-footer></main-footer>