<div class="check-rate-panel">
  <img src="../../../../../assets/img/image-truck.png" alt="" class="left">
  <div id="ads-detail" class="description">
      <h3>West Port Klang</h3>
      <p id="second-text">It is a long established fact that a reader will be distracted.</p>
  </div>
  <a onclick="window.location.href='#'">Check Rate</a>
</div>

<!-- <div class="flippable-ads">
  <div class="ads">
    <div class="card-content">
      <div class="progressive-image-wrapper">
        <img class="progressive-image-main" src="assets/img/flippable-ads-bg.jpg">
        <div class="ads-bg"></div>
        <div class="addContent">
          <div class="container-fluid">
            <div class="row">
              <div id="ads-detail">
                <h3>West Port Klang</h3>
                <p id="second-text">It is a long established fact that a reader will be distracted.</p>
              </div>
              <div class="style-btn">
                <button class="md-raised md-primary md-button md-ink-ripple" type="button" style onclick="window.location.href='#'" > 
                  Check Rate<div class="md-ripple-container" ></div>
                </button>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->