<!-- <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map> -->
<div class="contact">
    <div class="centered90 relative">
      <div class="content">
        <p>Where to</p>
        <h2>Contact</h2>
        <table width="100%">
          <tr>
            <td>Registered Address: C-09-23, Centum@Oasis Corporate Park, No. 2, Jalan PJU 1A/2, Ara Damansara, 47301 Petaling Jaya, Selangor D.E. Malaysia.</td>
          </tr>
          <tr>
            <td>Contact Number: +603-78322188</td>
          </tr>
          <tr>
            <td colspan="2">
              <a class="explore" routerLink="/contact-us">Explore More</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>