<navbar></navbar>
<div class="centered90">
  <div class="static-layout">
    <h2>Our Story</h2>
    <p>HBG Fluxr Digital Sdn Bhd was established in November 2016. Our core business is the development and design of
      innovative technology solutions for micro businesses and SMEs. We received our MSC status from MDEC in February
      2017 with a patent pending for our logistic module system and algorithm.</p>
    <p>Business owners, especially micro businesses and SMEs, continue to face challenges from financial management,
      market access, compliance and regulation, performance management to customer service. Supply chain planning is
      also difficult and requires companies to rethink their strategies and look at it as a technology requirement.</p>
    <p>In early 2017, we began the development of INTUGLO, a digital single sign-on trade enabler platform that allows
      business owners to go global, faster and more cost-effective. It is a facilitation system that is built on our
      real time and on-time core technology.</p>
    <h3>Why INTUGLO</h3>
    <p>The INTUGLO platform is built on 8 modular integrated web applications using cloud infrastructure. What does
      this mean to business owners? With INTUGLO, they can now customised or personalised their market access and
      choose the business solutions that best meet their requirements to penetrate existing and new markets. </p>
    <h3>What can INTUGLO do for you?</h3>
    <p>INTUGLO is a single sign-on trade enabler platform that serves as a tool that meets all your trade needs. These
      include:</p>
    <ul>
      <li>Logistics/shipping</li>
      <li>Warehousing</li>
      <li>Production management</li>
      <li>Quality Control (QCs) for hire</li>
      <li>Online exhibition or 24/7 showcase</li>
      <li>E-procurement</li>
      <li>Market validation</li>
      <li>Project management</li>
    </ul>
    <h3>INTUGLO advantage</h3>
    <p>The seamless integration of 8 modular web applications is designed on a shared economy or collaborative
      consumption model. It works similar to a supply chain management with the added advantage of an elevated brand
      reputation management.</p>
    <p>INTUGLO is <b>FREE</b> to sign-up and offered on a <b>‘PAY-PER-USE’</b> pricing model. Our users only pay for
      what they use
      and when they use it. This allows small businesses to scale globally without incurring high IT cost and minimize
      the risk of overconsumption.</p>
    <p>INTUGLO is the only platform to meet the needs of both the <b>HALAL</b> and <b>NON-HALAL</b> industries. Our
      system has the
      built-in capability to fully segregate the halal products throughout the entire supply chain. We contribute to
      and support Malaysia’s vision to be the largest Halal Trade Gateway for ASEAN by 2020.</p>
  </div>
</div>
<main-footer></main-footer>