.padding{
    padding: 2% 0 0 0;
}

.center{
    padding-left: 28%;
}
.request{
    background-color: #f39c12 !important;
    border-color: #e08e0b
}
.forward{
    background-color: #00acd6 !important;
    border-color: #00acd6;
}

.file{
    border: 1px solid darkgrey;
    margin-right:15px;
    background: #f8f8f9;
    padding: 5px 15px;
}
.x-icon{
    color: red;
    font-weight: 900;
    margin-left: 10px;
}
.accord-content{
    padding: 0px !important;
}