
<section class="content-header" ng-init="getMasterAdminDetails(superAdminUserData._id);getCountries();getProofOfLifeQuestions();">
    <h1>
        Emergency Details
      </h1>
    <ol class="breadcrumb">
      <li><a ui-sref="main.dashboard"><i class="fa fa-dashboard"></i> Dashboard</a>
      </li>
      <li class="active"> Emergency Details</li>
    </ol>
  </section>
  <!-- Main content -->
  <section class="content">
    <toaster-container toaster-options="{'time-out': 3000}"></toaster-container>
    <div class="row">
      <section class="col-lg-12">
        <div class="box box-primary">
          <div class="box-header">
            <h3 class="box-title">Emergency Details
                      </h3>
            <div ng-if="showLoader" class="col-lg-7 pull-right" style="margin-top:131px;">
              <div loader-css="ball-pulse"></div>
            </div>
          </div>
          <form role="form" name="passportDetailsForm" novalidate class="form-horizontal">
            <div class="box-body">
              <div class="row">
                <!-- <div class="form-group col-sm-12">
                  <div class="form-group col-sm-5">
                    <label class="col-sm-4"></label>
                    <div class="col-sm-8">
                      <img ng-if="superAdminUserData.profile_pic" ng-src="{{superAdminUserData.profile_pic || './images/avatar3.png'}}" style="height: 200px; width: 250px;">
                      <input type="file" id="profile_pic" name="profile_pic" ngf-select ng-change="uploadProfilePic(superAdminUserData.profile_pic)" ng-model="superAdminUserData.profile_pic">
                    </div>
                  </div>
                </div>
                <div class="form-group col-sm-12">
                  <div class="form-group col-sm-5">
                    <label class="col-sm-12 text-left">First name</label>
                    <div class="col-sm-12">
                      <input class="form-control" autocomplete="off" name="firstname" ng-model="superAdminUserData.firstname" type="text" placeholder="First name" required maxlength="25">
                      <span class="text-danger" ng-show="passportDetailsForm.firstname.$dirty &&  passportDetailsForm.firstname.$error.required">First Name is required</span>
                    </div>
                  </div>
                  <div class="form-group col-sm-5">
                    <label class="col-sm-12 text-left">Last name</label>
                    <div class="col-sm-12">
                      <input class="form-control" autocomplete="off" name="lastname" ng-model="superAdminUserData.lastname" type="text" placeholder="Last name" required maxlength="25">
                      <span class="text-danger" ng-show="passportDetailsForm.lastname.$dirty &&  passportDetailsForm.lastname.$error.required">Lastname is required</span>
                    </div>
                  </div>
                </div>
                <div class="form-group col-sm-12">
                  <div class="form-group col-sm-5">
                    <label class="col-sm-12 text-left">Email address</label>
                    <div class="col-sm-12">
                      <input class="form-control" autocomplete="off" name="email" ng-model="superAdminUserData.email" type="text" placeholder="Email"  ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" maxlength="60" disabled>
                      <span class="text-danger" ng-show="passportDetailsForm.email.$dirty &&  passportDetailsForm.email.$error.required">Email is required</span>
                      <span class="text-danger" ng-show="passportDetailsForm.email.$dirty &&  passportDetailsForm.email.$error.pattern">Email is not valid</span>
                    </div>
                  </div>
                  <div class="form-group col-sm-5">
                    <label class="col-sm-12 text-left">Mobile </label>
                    <div class="col-sm-12">
                      <input class="form-control" autocomplete="off" name="mobile_number" ng-model="superAdminUserData.mobile_number" type="text" placeholder="mobile_number" disabled>
                      <span class="text-danger" ng-show="passportDetailsForm.email.$dirty &&  passportDetailsForm.email.$error.required">Email is required</span>
                      <span class="text-danger" ng-show="passportDetailsForm.email.$dirty &&  passportDetailsForm.email.$error.pattern">Email is not valid</span>
                    </div>
                  </div>
                </div> -->
                <div ng-if="superAdminUserData.super_admin == false">
                <div class="form-group col-sm-12">
                  <div class="form-group col-sm-5">
                    <label class="col-sm-12 text-left">Date Of Birth</label>
                    <div class="col-sm-12">
                      <div class="input-group">
                        <div class="btn btn-primary input-group-addon" ng-click="open($event)"><i class="fa fa-calendar"></i></div>
                        <input type="text" placeholder="Enter date of birth" class="form-control" datepicker-popup="{{format}}" ng-model="personal_details.dob" is-open="opened" max-date="dtmax" ng-required="true" close-text="Close" />
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-sm-5">
                    <label class="col-sm-12 text-left">Gender</label>
                    <div class="col-sm-12">
                      <select class="form-control" id="gender" name="gender" required ng-model="personal_details.gender">
                        <option ng-selected="true">Select Gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                      </select>
                      <span class="text-danger" ng-show="passportDetailsForm.gender.$dirty &&  passportDetailsForm.gender.$error.required">Gender is required</span>
                    </div>
                  </div>
                </div>
  
                <div class="form-group col-sm-12" ng-repeat=" passportData in  passport_de track by $index">
                  <div class="form-group col-sm-3">
                    <label class="col-sm-12 text-left">Nationality</label>
                    <div class="col-sm-12">
                      <select class="form-control" name="nationality" id="nationality" ng-model="passport_de[$index].nationality" required>
                        <option ng-selected="true">Select Country</option>
                        <option ng-repeat="option in countryArr" value="{{option.name}}" ng-selected="{{passportData.nationality == option.name}}">{{option.name}}</option>
                      </select>
                      <span class="text-danger" ng-show="passportDetailsForm.country.$dirty &&  passportDetailsForm.country.$error.required">Country is required</span>
                    </div>
                  </div>
                  <div class="form-group col-sm-3">
                    <label class="col-sm-12 text-left">Passport Number</label>
                    <div class="col-sm-12">
                      <input class="form-control" autocomplete="off" name="passport_number" ng-model="passport_de[$index].passport_number" type="text" placeholder="Passport Number" required>
                      <span class="text-danger" ng-show="passportDetailsForm.passport_number.$dirty &&  passportDetailsForm.passport_number.$error.required">Passport Number is required</span>
                    </div>
                  </div>
                  <div class="form-group col-sm-3">
                    <label class="col-sm-12 text-left">Issue Date</label>
                    <div class="col-sm-12">
                      <input class="form-control" autocomplete="off" name="issuedate" ng-model="passport_de[$index].issuedate" type="date" placeholder="Passport Number" >
                      <span class="text-danger" ng-show="passportDetailsForm.passport_number.$dirty &&  passportDetailsForm.issuedate.$error.required">Passport Number is required</span>
                    
                    </div>
                  </div>
                  <div class="form-group col-sm-3">
                    <label class="col-sm-12 text-left">Expiry Date</label>
                    <div class="col-sm-12">
                      <input class="form-control" autocomplete="off" name="expirydate" ng-model="passport_de[$index].expirydate" type="date" placeholder="Passport Number" >
                      <span class="text-danger" ng-show="passportDetailsForm.passport_number.$dirty &&  passportDetailsForm.issuedate.$error.required">Passport Number is required</span>
                    </div>
                  </div>
                  <button class="btn btn-sm btn-primary margin-top-set" ng-show="$first" title="Add Passport Details" ng-click="addPassportDetails()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                  <button class="btn btn-sm btn-danger margin-top-set" ng-show="$last && $index != 0" title="Remove Passport Details" ng-click="removePassportDetails()"><i class="fa fa-minus" aria-hidden="true"></i></button>
                </div>
                <div class="form-group col-sm-8">
                  <div class="box-header">
                    <h3 class="box-title"><i class="fa fa-tags"></i> Emergency Contact
                                      </h3>
                  </div>
                </div>
                <div class="form-group col-sm-5">
                  <label class="col-sm-12 text-left">Full name</label>
                  <div class="col-sm-12">
                    <input class="form-control" autocomplete="off" name="full_name" ng-model="passport_details.full_name" type="text" placeholder="Full Name" required maxlength="50">
                    <span class="text-danger" ng-show="passportDetailsForm.full_name.$dirty &&  passportDetailsForm.full_name.$error.required">Full Name is required</span>
                  </div>
                </div>
                <div class="form-group col-sm-5">
                  <label class="col-sm-12 text-left">Mobile number</label>
                  <div class="col-sm-12 width-input-100">
                    <input class="form-control"  style="width: 100%" international-phone-number autocomplete="off" name="number" ng-model="passport_details.mobile_number" type="tel" placeholder=" Enter mobile number" required ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/" maxlength="15">
                    <span class="text-danger" ng-show="passportDetailsForm.number.$dirty &&  passportDetailsForm.number.$error.required">Mobile number is required</span>
                    <span class="text-danger" ng-show="passportDetailsForm.number.$dirty &&  passportDetailsForm.number.$error.pattern">Mobile number is not valid</span>
                  </div>
                </div>
                <div class="form-group col-sm-5">
                  <label class="col-sm-12 text-left">Email address</label>
                  <div class="col-sm-12">
                    <input class="form-control" autocomplete="off" name="emergency_email" ng-model="passport_details.email" type="text" placeholder="Enter email address" required ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" maxlength="60">
                    <span class="text-danger" ng-show="passportDetailsForm.emergency_email.$dirty &&  passportDetailsForm.emergency_email.$error.required">email is required</span>
                    <span class="text-danger" ng-show="passportDetailsForm.emergency_email.$dirty &&  passportDetailsForm.emergency_email.$error.pattern">email is not valid</span>
                  </div>
                </div>
                <div class="form-group col-sm-5">
                  <label class="col-sm-12 text-left">Relationship to you</label>
                  <div class="col-sm-12">
                    <input class="form-control" autocomplete="off" name="relationship_to_you" ng-model="passport_details.relationship_to_you" type="text" placeholder="Relationship to you" required ng-pattern="/^[a-zA-Z]+[a-zA-Z' ]*$/" maxlength="50">
                    <span class="text-danger" ng-show="passportDetailsForm.relationship_to_you.$dirty &&  passportDetailsForm.relationship_to_you.$error.required">Relationship to you is required</span>
                    <span class="text-danger" ng-show="passportDetailsForm.relationship_to_you.$dirty &&  passportDetailsForm.relationship_to_you.$error.pattern">Relationship to you is not valid</span>
                  </div>
                </div>
                <div class="form-group col-sm-8">
                  <div class="box-header">
                    <h3 class="box-title"><i class="fa fa-tags"></i> Alternative Emergency Contact
                                      </h3>
                  </div>
                </div>
                <div class="form-group col-sm-5">
                  <label class="col-sm-12 text-left">Full name</label>
                  <div class="col-sm-12">
                    <input class="form-control" autocomplete="off" name="alternative_full_name" ng-model="passport_details.alternative_full_name" type="text" placeholder="Full Name" required maxlength="50">
                    <span class="text-danger" ng-show="passportDetailsForm.alternative_full_name.$dirty &&  passportDetailsForm.alternative_full_name.$error.required">Full name is required</span>
                  </div>
                </div>
                <div class="form-group col-sm-5">
                  <label class="col-sm-12 text-left">Mobile number</label>
                  <div class="col-sm-12 width-input-100">
                    <input class="form-control" style="width: 100%" international-phone-number autocomplete="off" type="tel" name="alternative_mobile_number" type="tel" ng-model="passport_details.alternative_mobile_number" type="text" placeholder="Enter mobile number"  ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/" maxlength="15">
                    <span class="text-danger" ng-show="passportDetailsForm.alternative_mobile_number.$dirty &&  passportDetailsForm.alternative_mobile_number.$error.required">Mobile number is required</span>
                    <span class="text-danger" ng-show="passportDetailsForm.alternative_mobile_number.$dirty &&  passportDetailsForm.alternative_mobile_number.$error.pattern">Mobile number is not valid</span>
                  </div>
  
                </div>
                <div class="form-group col-sm-5">
                  <label class="col-sm-12 text-left">Email address</label>
                  <div class="col-sm-12">
                    <input class="form-control" autocomplete="off" name="alternative_email" ng-model="passport_details.alternative_email" type="text" placeholder="Enter email address" required ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" maxlength="60">
                    <span class="text-danger" ng-show="passportDetailsForm.alternative_email.$dirty &&  passportDetailsForm.alternative_email.$error.required">email is required</span>
                    <span class="text-danger" ng-show="passportDetailsForm.alternative_email.$dirty &&  passportDetailsForm.alternative_email.$error.pattern">email is not valid</span>
                  </div>
                </div>
                <div class="form-group col-sm-5">
                  <label class="col-sm-12 text-left">Relationship to you</label>
                  <div class="col-sm-12">
                    <input class="form-control" autocomplete="off" name="alternative_relationship_to_you" ng-model="passport_details.alternative_relationship_to_you" type="text" placeholder="Relationship to you" required ng-pattern="/^[a-zA-Z]+[a-zA-Z' ]*$/" maxlength="50">
                    <span class="text-danger" ng-show="passportDetailsForm.alternative_relationship_to_you.$dirty &&  passportDetailsForm.alternative_relationship_to_you.$error.required">Relationship to you is required</span>
                  </div>
                </div>
                <div class="form-group col-sm-8">
                  <div class="box-header">
                    <h3 class="box-title"><i class="fa fa-tags"></i> Proof Of Life
                                      </h3>
                  </div>
                </div>
                <div class="form-group col-sm-5">
                  <label class="col-sm-12 text-left">Proof of life question</label>
                  <div class="col-sm-12">
                    <select class="form-control" name="Proof_of_life_question" id="nationality" ng-model="personal_details.proof_of_life_question" >
                      <option ng-selected="true">Select proof of life Question</option>
                      <option ng-repeat="proof_of_life in proofOfLifeQuestions" value="{{proof_of_life.question}}" ng-selected="{{personal_details.proof_of_life_question == proof_of_life.question}}">{{proof_of_life.question}}</option>
                    </select>
                    <span class="text-danger" ng-show="passportDetailsForm.Proof_of_life_question.$dirty &&  passportDetailsForm.Proof_of_life_question.$error.required">Proof of life question is required</span>
                  </div>
                </div>
                <div class="form-group col-sm-5">
                  <label class="col-sm-12 text-left">Proof of life answer</label>
                  <div class="col-sm-12">
                    <input class="form-control" autocomplete="off" name="proof_of_life_answer" ng-model="personal_details.proof_of_life_answer" type="text" placeholder="Proof Of Life Answer"  maxlength="50">
                    <span class="text-danger" ng-show="passportDetailsForm.proof_of_life_answer.$dirty &&  passportDetailsForm.proof_of_life_answer.$error.required">Proof of life answer is required</span>
                  </div>
                </div>
  </div>
                <div class="form-group col-sm-12">
                  <div class="pull-right box-tools">
                    <button type="button" class="btn btn-sm btn-primary" style="margin-right: 216px;" ng-click="updateEmergencyDetails(superAdminUserData);">Update Emergency Details</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </section>
    </div>
  </section>
  