<form [formGroup]="form">
  <div class="container box">
    <div class="text-right">
      <p (click)="onCloseCancel()" class="glyphicon glyphicon-remove"></p>
    </div>
    <div class="tableDiv ">
      <h4 class="header"> Change password</h4>
      <div *ngIf="show_message">
        <p *ngIf="success_message" class="alert alert-success">{{message}}</p>
        <p *ngIf="error_message" class="alert alert-danger">It seems your session is expired! Please login and try again.</p>
        <p *ngIf="form.controls.confirmPassword.errors?.MatchPassword" class="alert alert-danger">Password not match</p>
      </div>

      <div class="form-group">
        <label for="password" class="text">Current Password</label>
        <input type="password" name="password" [(ngModel)]="oldPassword" placeholder="********" class="form-control input-sm input-field"
          [ngModelOptions]="{standalone: true}">
      </div>

      <div class="form-group">
        <label for="password" class="text"> New Password</label>
        <input type="password" name="passwordOne" [(ngModel)]="passwordOne" placeholder="********" class="form-control input-sm input-field"
          formControlName="password" [formGroup]="form">
      </div>
      <div class="form-group">
        <label for="password" class="text"> Confirm Password</label>
        <input type="password" name="passwordTwo" [ngModel]="passwordTwo" (ngModelChange)="checkSamePassword($event)" placeholder="********"
          class="form-control input-sm input-field" formControlName="confirmPassword" [formGroup]="form">
      </div>

      <div>

        <br>
        <button class="btn  btn-flat change" (click)="changePassword()">Change Password
        </button>

      </div>
    </div>

  </div>
</form>