<supplier-navbar [supplierName]="isSupplierName" [Logo]="LogoBool" (controlSideBar)="receiveDataFromHeader($event)"></supplier-navbar>

<ng-sidebar-container class="ng-container bg-color">
    <ng-sidebar class="animate-sidebar" [(opened)]="isSideBarOpen" mode="push" position="left" autoCollapseWidth="800" animate="true">
        <supplier-left-menu [sideBar]="isSideBarOpen"></supplier-left-menu>
    </ng-sidebar>
    <div class="dashboard-layout" ng-sidebar-content>
        <div class="content-area">
            <profile-logo-uploader (shareLogoToSupplierNavbar)="recieveLogoFromProfileLogoUploader($event)"></profile-logo-uploader>
            <supplier-profile (shareSupplierNameToSupplierNavbar)="getSupplierNameFromSupplierProfile($event)"></supplier-profile>
        </div>
    </div>
</ng-sidebar-container>