<navbar></navbar>
<div class="centered90">
  <div class="static-layout">
    <h2>Terms and Condition</h2>
    <p>Welcome to Intuglo! Thank you for visiting our website. This page forms the Terms and Conditions in
        accordance with which we provide service to Seller and Buyer for Product or Products listed on our
        website www.intuglo.com (the “Site”) to you (the “Terms and Conditions”). Please take some time to
        read these Terms and Conditions before ordering any Products from the Site. By ordering any of our
        Products, you agree to be bound by these Terms and Conditions. You should visit our page regularly
        to make note of any changes we have made to our Terms and Conditions.</p>
    <h3>1. WHO WE ARE</h3>
    <p>We are HBG FLUXR DIGITAL SDN BHD (Company No. 1208312-H) having our business address at C-09-
        23, Centum@Oasis Corporate Park, Jalan 1A/2, Are Damansara, 47301 Petaling Jaya, Selangor Darul
        Ehsan trading as www.intuglo.com (“INTUGLO”).</p>
    <ul class="decimal">
      <li>HBG FLUXR DIGITAL SDN BHD is a company registered in Malaysia with core business in
          designing, developing and producing digital supply chain solutions.</li>
      <li>These Terms and Conditions are our copyrighted intellectual property. Any use by
          third parties, even of extracts of the Terms and Conditions, for the commercial
          purposes of offering goods and/or services is not permitted. Infringements may be
          subject to legal action.</li>
      <li>In event there exists a conflict between the English version and the Malay version of these
          terms and conditions, the English version shall prevail.</li>    
    </ul>
    <h3>2. DEFINITIONS</h3>
    <p>In these Terms and Conditions:</p>
    <ul class="alpha">
      <li><strong>"Account"</strong> means the INTUGLO Account that you will need to register for on the Site if you
          would like to submit an Order (for Buyer) or to submit or to set up Quotation (for Seller) on
          the Site.</li>
      <li><strong>“Additional Works”</strong> means to complete the form pertaining to incoterms, HS Code, shipping
          process with fees.</li>   
      <li><strong>"Business Day"</strong> means a working day from Monday to Friday at any region or geographical
          location.</li> 
      <li><strong>"Buyer"</strong> means any purchaser who places an Order on the Site.</li>    
      <li><strong>"Contract"</strong> means your Order of a Product or Products in accordance with these Terms and
        Conditions which we accept in accordance with clauses 6.2 and 7.2 below.</li>
      <li><strong>“Credit Block”</strong> means the reservation of a portion of a credit or debit card balance for the cost
          of services rendered by INTUGLO.</li>  
      <li><strong>“Customer”</strong> means a consumer who obtained services from INTUGLO.</li>    
      <li><strong>"Order"</strong> means the Order submitted by Buyer to the Site to purchase a Product or Products
          from Seller.</li>
      <li><strong>“Order Confirmation"</strong> means our email to you, in which we acknowledge your Order in
          accordance with clause 6.2 below.</li>    
      <li><strong>"Seller"</strong> means the Company who register on the Site offering a Product or Products.</li>    
      <li>References to <strong>"clauses"</strong> are to clauses of these Terms and Conditions.</li>
      <li>Headings are for ease of reference only and shall not affect the interpretation or construction
          of the Terms and Conditions.</li>
      <li>Wordsimparting the singularshall include the plural and vice versa. Wordsimparting a gender
          shall include every gender and references to persons shall include an individual, company,
          corporation, firm or partnership.</li>    
      <li>References to "includes" or "including" or like words or expressions shall mean without
          limitation.</li>    
    </ul>
    <h3>3. ELIGIBILITY</h3>
    <p>To place an Order with INTUGLO you must be an incorporated company in your country of
        origin with registered business address, business phone number and a valid business e-mail.</p>
    <h3>4. PROHIBITIONS</h3>    
    <p>You must not misuse this Site. You shall not commit or encourage a criminal offence, transmit
        or distribute a virus including but not limited to Trojan horse, worm, logic bomb or post any
        other material on the Site which is malicious, technologically harmful, in breach of confidence
        or in any way offensive or obscene; hack into any aspect of the service; corrupt data; cause
        annoyance to other users; infringe upon the rights of any other person’s propriety rights;send
        any unsolicited advertising or promotional material; or attempt to affect the performance or
        functionality of any computer facilities of or accessed throughout the Site. Any breach of this
        provision would constitute an offence under Section 233 of the Communications and
        Multimedia act 1998. In the event such breach occurs, INTUGLO will report the breach to the
        relevant law enforcement authorities and appropriate legal action will be taken.</p>
    <h3>5. ENTIRE AGREEMENT</h3>    
    <ul class="decimal">
      <li>These Terms and Conditions shall apply to all Orders and Contracts made or to be made by us
          for the sale and supply of Products. These Terms and Condition constitute the entire
          agreement between Buyer and Seller with INTUGLO and supersede any and all preceding and
          contemporaneous agreements between us</li>
      <li>You acknowledge that, in entering into this Contract, neither you nor we have relied on any
          representation, undertaking or promise given by the other or implied from anything said or
          written between you and us prior to such Terms and Conditions, except as expressly stated in
          the Terms and Conditions.</li>    
    </ul>
    <h3>6. TERMS OF SALE (FOR BUYER)</h3>
    <ul class="decimal">
      <li>Registration
        <ul class="alpha">
            <li>To place an Order, Buyer must register with us by creating an Account on the Site.
                Buyer must only submit to us information which is accurate and true. Buyer must also
                keep the information up to date by informing us of any changes, by using the relevant
                sections of the Site.</li>
            <li>Buyer shall not misuse the Site by creating multiple user accounts of the same
                business registration.</li>    
        </ul>
      </li>  
      <li>Formation of a Contract
        <ul class="alpha">
            <li>The information set out in the Terms and Conditions and the details contained on this
                Site do not constitute an offer for sale but rather an invitation to treat</li>
            <li>To submit an Order which the Buyer to place a booking for Product or Products to the
                Seller with non-refundable transaction fees and/ or subscription fees and/ or
                commission fees. From the date of the Order, Buyershall fulfil other Additional Works
                required by INTUGLO to process and complete the Order.</li>    
            <li>After the Additional Works have been fulfilled, credit block will be deducted by
                INTUGLO and an Order is considered accepted by INTUGLO.</li>   
        </ul>
      </li>     
      <li>Price and Payment
        <ul class="alpha">
            <li>Whilst we make best efforts to ensure that all details, the prices shown are on realtime
                basis where the prices can change the retail published price. The fluctuation of
                prices depending on the container sharing condition. The actual price of purchase will
                be obtained upon closing of Order.</li>
            <li>If we are unable to contact Buyer in any circumstances and if the entire process of
                Order is incomplete, we will treat the Order as cancelled. If Buyer cancel Order before
                we ship, we will refund the amount that is not utilised for processing the Order.</li>    
            <li>Where applicable, prices are exclusive of taxes and prices are in US Dollar (USD).</li>    
            <li>Buyer can pay using any of our payment partners listed on our homepage.</li>
            <li>To minimise the risk of unauthorised access, we encrypt your card data. Once we
                receive the Order we will request for non-refundable transaction fee of USD 5.00.
                Order will not be confirmed until credit block and Additional Works have been
                completed.</li>
            <li>Upon authorisation of the payment, by clicking the “Order now” button Buyer is
                confirming that the card belongs to Buyer and have sufficient funds or credit facilities
                to cover the cost of the Product or Products.</li> 
        </ul>
      </li>    
      <li>Mistaken Orders
          If Buyer discover that Buyer have made a mistake with the Order after Buyer have submitted
          it to the Site, please contact <a href="mailto:customerservice@intuglo.com">customerservice@intuglo.com</a> immediately. We will try our best
          to process your request.</li>    
      <li>Refusal of Order
          If Buyers documentation does not satisfy the requirement of custom and rejected for
          clearance it is the responsibility of the Buyer. We will refund the amount that is not utilised
          for processing the Order.</li>    
    </ul>
    <h3>7. TERMS OF SALE (FOR SELLER)</h3>
    <ul class="decimal">
      <li>Registration
        <ul class="alpha">
            <li>To offer a Product or Products, Seller must register with us by creating an Account on
                the Site. Seller must only submit to us information which is accurate and true. Seller
                must also keep the information up to date by informing us of any changes, by using
                the relevant sections of the Site.</li>
            <li>Seller shall not misuse the Site by creating multiple user accounts of the same
                business registrations.</li> 
        </ul>
      </li>   
      <li>Formation of a Contract
        <ul class="alpha">
          <li>The information set out in the Terms and Conditions and the details contained on this
              Site do not constitute an offer for sale but rather an invitation to treat.</li>
          <li>Upon receiving an Order, Seller to issue a quotation to INTUGLO. INTUGLO will invoice
              Buyer on behalf of the Seller.</li>    
        </ul>
      </li>    
      <li>Price and Payment
        <ul class="alpha">
          <li>Seller to follow terms and conditions as set forth in the quotation issued. Seller will
              issue payment list and confirmed of the price charged.</li>
          <li>Upon Product or Products shipped, fifty per cent (50%) will be paid to Seller. The
              remaining forty per cent (40%) will be paid upon the arrival of the cargo and ten
              percent (10%) shall be the commission fees to INTUGLO.</li>    
        </ul>
      </li>
    </ul>
    <h3>8. CANCELLATION BY CUSTOMER (NON-FAULTY PRODUCT)</h3>
    <p>If Buyer wishes to cancel the Order, please contact INTUGLO Customer Service Team at +603-
        78322188 or <a href="mailto:customerservice@intuglo.com">customerservice@intuglo.com</a> No cancellation fees shall be applicable. Once an
        Order has been dispatched it SHALL NOT be cancelled.</p>
    <h3>9. WARRANTY AND DISCLAIMER OF LIABILITY</h3>    
    <ul class="decimal">
      <li>WE ENDEAVOUR TO PROVIDE THE BEST SERVICE WE CAN, BUYER AND SELLER UNDERSTAND
          AND AGREE THAT INTUGLO SERVICE IS PROVIDED “AS IS” AND “AS AVAILABLE”, WITHOUT
          EXPRESS OR IMPLIED WARRANTY OR CONDITION OF ANY KIND. BUYER AND SELLER USE THE
          INTUGLO SERVICE AT OWN RISK. TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW,
          INTUGLO MAKE NO REPRESENTATIONS AND DISCLAIM ANY WARRANTIES OR CONDITIONS OF
          SATISFACTORY QUALITY, MERCHANTABILITY, FITNESS FOR SERVICES. BUYER AND SELLER
          UNDERSTAND AND AGREE THAT INTUGLO IS NOT RESPONSIBLE OR LIABLE FOR ANY
          TRANSACTION BETWEEN BUYER AND SELLER THROUGH THE INTUGLO SERVICE. AS WITH ANY
          PURCHASE OF A PRODUCT OR PRODUCTS THROUGH ANY MEDIUM OR IN ANY
          ENVIRONMENT, BUYER SHOULD USE OWN JUDGMENT AND EXERCISE CAUTION WHERE
          APPROPRIATE. NO ADVICE OR INFORMATION WHETHER ORAL OR IN WRITING OBTAINED BY
          YOU FROM INTUGLO SHALL CREATE ANY WARRANTY ON BEHALF OF INTUGLO IN THIS
          REGARD. SOME ASPECTS OF THIS SECTION MAY NOT APPLY IN SOME JURISDICTIONS IF
          PROHIBITED BY APPLICABLE LAW.</li>
      <li>The content displayed on this Site is provided without any guarantees, conditions or
          warranties as to its accuracy. Unless expressly stated to the contrary and to the fullest extent
          permitted by law, INTUGLO and its suppliers, content providers and advertisers hereby
          expressly exclude all conditions, warranties and other terms which might otherwise be
          implied by statute, common law or the law of equity and shall not be liable for any damages
          whatsoever, including but without limitation to any direct, indirect, special, consequential,
          punitive or incidental damages, or damages for loss of use, profits, data or other intangibles,
          damage to goodwill or reputation, or the cost of procurement of substitute goods and
          services, arising out of or related to the use, inability to use, performance or failures of this
          Site and any materials posted thereon, irrespective of whether such damages were
          foreseeable or arise in contract, tort, equity, restitution, by statute, at common law or
          otherwise.</li>    
      <li>Nothing in these Terms and Conditions shall exclude or limit INTUGLO’s Liability for death or
          personal injury arising from its negligence, fraudulent misrepresentation, and
          misrepresentation asto a fundamental matter or any other Liability which cannot be excluded
          or limited under applicable law.</li>    
    </ul>
    <h3>10. INDEMNITY</h3>
    <p>Buyer and Seller agree to indemnify, defend, hold harmless INTUGLO, its directors, officers,
        employees, consultants, agents, and affiliates, from any and all third party claims, liability,
        damages and/or costs (including but not limited to, legal fees) arising from the use of this Site
        or breach of the Terms and Conditions.</p>
    <h3>11. GUARANTEE AND COMPLAINTS MANAGEMENT</h3>    
    <ul class="decimal">
      <li>INTUGLOshall perform its obligations under these Terms and Conditions with reasonable skills
          and care</li>
      <li>We place great value on our Customer satisfaction. You may contact us at any time using the
          contact details given in clause 8.3 of these Terms and Conditions. We will attempt to address
          your concerns as soon as possible and will contact on receipt of any relevant enquiry or
          complaint. In guarantee cases, the Seller frequently must be involved, and as such it may take
          longer to resolve such an enquiry or complaint.</li>    
      <li>In the event of a complaint it will help us if Buyer can describe the object of Buyer’s complaint
          as accurately as possible and, where applicable, send us copies of the Order or at least the
          Order number that we assign Buyer in the Order Confirmation. In rare cases your emails may
          be caught up in our spam filters or not reach us, or correspondence that we send to Buyer
          may otherwise not have reached Buyer. Should Buyer not have received any response from
          us within five (5) Business Days, please make further enquiries.</li>    
    </ul>
    <h3>12. PERSONAL DATA PROTECTION</h3>
    <p>Please see our Privacy Policy, which forms a part of these Terms and Conditions.</p>
    <h3>13. CIRCUMSTANCES BEYOND OUR CONTROL (FORCE MAJEURE)</h3>
    <ul class="decimal">
      <li>We shall not be liable to you for any breach, hindrance or delay in the performance of a
          Contract attributable to any cause beyond our reasonable control, including without
          limitation:
          <ul class="alpha">
            <li>Strikes, lock-outs or other industrial action.</li>
            <li>Civil commotion, riot, invasion, terrorist attack or threat of terrorist attack, war
                (whether declared or not) or threat or preparation for war.</li>
            <li>Fire, explosion, storm, flood, earthquake, subsidence, epidemic or other natural
                disaster.</li>    
            <li>Impossibility of the use of railways,shipping, aircraft, motor transport or other means
                of public or private transport.</li>    
            <li>Impossibility of the use of public or private telecommunications networks.</li>    
            <li>The acts, decrees, legislation, regulations or restrictions of any government, shipping,
                postal or other relevant transport strike, failure or accidents.</li>
          </ul>
      </li>
      <li>In the circumstance that the Force Majeure event lasts for more than one week, either Buyer
          or Seller or we may terminate the Contract forthwith by written notice and without any
          Liability other than a refund the amount that is not utilised for processing the Order.</li>
      <li>We reserve absolute discretion on the solution we adopt in fully meeting our obligations
          under the Contract despite the Force Majeure Event.</li>    
    </ul>
    <h3>14. INTELLECTUAL PROPERTY RIGHTS</h3>
    <ul class="decimal">
      <li>All content included in or made available through our Site,such astext, graphics, logos, button
          icons, images, audio clips, digital downloads, campaign titles, data compilations, software,
          features and functionality of this website are the intellectual property of INTUGLO and
          protected by patent and copyright laws. All such rights are reserved by INTUGLO. Anyone is
          not permitted to publish, manipulate, distribute or otherwise reproduce, in any format, any
          of the content or copies of the content supplied to or which appears on this Website nor may
          anyone to use any such content in connection with any business or commercial enterprise.</li>
      <li>In addition, graphics, logos, page headers, button icons, scripts, and service names included
          in or made available through the Site are trademarks of INTUGLO in Malaysia. INTUGLO's
          trademark may not be used in connection with any product or service that is not provided by
          INTUGLO, in any manner that is likely to cause confusion among customers, or in any manner
          that disparages or discredits INTUGLO. All other trademarks not owned by INTUGLO that
          appear on the Site are the property of their respective owners.</li>    
      <li>Anyone must not use any part of the content on our site for commercial purposes without
          obtaining a license to do so from us. In the event INTUGLO becomes aware of any
          infringement of its intellectual property rights, it shall not refrain from taking any relevant
          legal action.</li>    
      <li>If anyone print, copy or download any part of our Site in breach of these Terms and Conditions,
          your right to use our Site will cease immediately and must, at our option, return or destroy
          any copies of the materials that have been made. Anyone shall not modify, translate, reverse
          engineer, decompile, disassemble or create derivative works based on any software or
          accompanying documentation supplied by INTUGLO.</li>        
    </ul>
    <h3>15. WAIVER</h3>
    <p>No failure or delay by us or anyone in exercising any right under these Terms and Conditions or a
        Contract shall operate as a waiver of such right or extend to or affect any other or subsequent event
        or impair any rights or remedies in respect of it or in any way modify or diminish our or your rights
        under these Terms and Conditions or a Contract.</p>
    <h3>16. SEVERABILITY</h3>    
    <p>If any clause in these Terms and Conditions or a Contract shall become or shall be declared by any
        court of competent jurisdiction to be invalid or unenforceable,such invalidity or unenforceability shall
        in no way affect any other clause or part of any clause, all of which shall remain in full force and effect,
        so long as these Terms and Conditions or a Contract shall be capable of continuing in effect without
        the unenforceable term.</p>
    <h3>17. ASSIGNMENT</h3>    
    <p>Anyone shall not assign, transfer, novate, charge, sub-Contract, create any trust over or deal in any
        other manner with these Terms and Conditions or a Contract or all or any of your rights or obligations
        under these Terms and Conditions or a Contract.</p>
    <h3>18. RELATIONSHIP</h3>    
    <p>Nothing in these Terms and Conditions or a Contractshall create or be deemed to create a partnership,
        an agency or a relationship of employer and employee between Buyer and Seller with us.</p>
    <h3>19. THIRD PARTY RIGHTS</h3>    
    <p>No person who is not a party to these Terms and Conditions or a Contract shall acquire any rights
        under it or be entitled to benefit from any of its terms even if that person has relied on any such term
        or has indicated to any party to these Terms and Conditions or that Contract its assent to any such
        term.</p>
    <h3>20. GOVERNING LAW</h3>    
    <ul class="decimal">
      <li>These Terms and Conditions and a Contract (and all non-Contractual obligations arising out of
          or connected to them) shall be governed and construed in accordance with Malaysian Law.
          Both we and you hereby submit to the non-exclusive jurisdiction of the Malaysian Courts. All
          dealings, correspondence and contacts between us shall be made or conducted in the English
          language.</li>
      <li>Dispute resolution and arbitration
          Buyer and Seller agree that any dispute, claim, or controversy between Buyer and Seller with
          INTUGLO arising in connection with or relating in any way to these Terms and Conditions and
          a Contract or to your relationship with INTUGLO as a user/ customer of the INTUGLO Service
          (whether based in contract, tort, statute, fraud, misrepresentation, or any other legal theory,
          and whether the claims arise during or after the termination of the Terms and Conditions and
          a Contract) will be determined by mandatory binding individual (not class) arbitration. Buyer
          and Seller together with INTUGLO further agree that the arbitrator shall have the exclusive
          power to rule on his or her own jurisdiction, including any objections with respect to the
          existence, scope or validity of the Arbitration Agreement or to the arbitrability of any claim or
          counterclaim. Arbitration is more informal than a lawsuit in court. THERE IS NO JUDGE OR
          JURY IN ARBITRATION, AND COURT REVIEW OF AN ARBITRATION AWARD IS LIMITED. There
          may be more limited discovery than in court. The arbitrator must follow this agreement and
          can award the same damages and relief as a court (including attorney fees), except that the
          arbitrator may not award any relief, including declaratory or injunctive relief, benefiting
          anyone but the parties to the arbitration. This arbitration provision will survive termination of
          the Terms and Conditions and a Contract.</li>    
      <li>Either Buyer or Seller or we may start arbitration proceedings. Any arbitration between
          Parties will take place under the Asian International Arbitration Centre (Malaysia) (“AIAC”)
          then in force (the “Arbitration Act 2005”), as modified by this Arbitration Agreement. Parties
          agree that the Arbitration Act 2005 applies and governs the interpretation and enforcement
          of this provision (despite the choice of law provision above). The Arbitration Act 2005, as well
          as instructions on how to file an arbitration proceeding with the AIAC, appear at
          <a href="https://www.aiac.world/" target="_blank">https://www.aiac.world/</a> </li>    
    </ul>
    <h3>21. VARIATION</h3>
    <p>We reserve the right to amend these Terms and Conditions at any time. All amendments to these
        Terms and Conditions will be posted online. However, continued use of the Site will be deemed to
        constitute acceptance of the new Terms and Conditions.
        When Buyer submit an Order and Seller place an offer of a Product or Products to the Site, Buyer and
        Seller agree to these Terms and Conditions. Buyer and Seller are responsible for reviewing the latest
        Terms and Conditions each time on Site.</p>
  </div>
</div>
<main-footer></main-footer>