<navbar></navbar>
<div class="centered90">
  <div class="static-layout">
    <h2>Our Team</h2>
    <ol type="i">
      <strong>
        <li>Vence Chong</li>
      </strong>
      <p>Founder/CEO</p>
      <p>Vence began her career in technical sales with the Australian-based Mirotone (M) Sdn Bhd. She has since accumulated extensive skills and knowledge in a diverse range of industries across the supply chain. She holds an MBA in Project Management.</p>
      <p>Her foray into entrepreneurship has seen her venturing into the F&B industry and strategy board game design. She successfully published board games such as ‘The Peides Curse: Earth’, a fantasy strategy game, ‘BM World’, a Bahasa Malaysia educational game and ‘Journey to Jannah’, an Islamic-centric lifestyle board game.</p>
      <p>Vence’s experience in producing these board games provided her with the insights and interest that led to the creation of <b>INTUGLO</b>. As founder and CEO, Vence is the main driver for the execution of their mission to ‘Digitalise the SME Supply Chain’.</p>
      <strong>
        <li>Ajitpal Singh</li>
      </strong>
      <p>Executive Director</p>
      <p>Ajit’s career as an engineer in Texas Instruments Malaysia and then PETRONAS flourished during the industry’s heyday. After great success in the Oil & Gas Industry and hungry for a challenge, he then invested in a well-known restaurant & bar known as ‘The X’. Since then, Ajit continues to invest and be actively involved in multiple enterprising startups including <b>INTUGLO</b>.</p>
      <p>Ajit’s role as Executive Director sees him getting involved in setting the strategy for INTUGLO as well as to connect with key industry stakeholders and investors.</p>
      <strong>
        <li>Lilyana Abdul Latif</li>
      </strong>
      <p>Co-founder/CTO</p>
      <p>Lilyana holds a BSc in Computer Science from Iowa University. A true technology thoroughbred, Lilyana had stints with MIMOS and the National IT Council Secretariat where she was involved in the inception of the Malaysian Multimedia Super Corridor. She currently runs Aleph One, an IT consultancy as well as MyNEF, a foundation for technology and entrepreneurship.</p>
      <p>For <b>INTUGLO</b>, Lilyana sets the technology strategy and monitors the development of the platform.</p>
      <strong>
        <li>Romi Sharma</li>
      </strong>
      <p>Developer Partner</p>
      <p>Romi is a certified Project Management Professional (PMP) with a BSc in Electrical Engineering. His experience includes developing and managing solutions in telecommunication, enterprise software and defense services with the Indian Air Force, Nucleus Software Engineers and Tech Mahindra.</p>
      <p>With Siroi Solutions, Romi focuses on developing solutions that improve operational efficiency including <b>INTUGLO</b>.</p>
      <strong>
        <li>Chew How Hoon</li>
      </strong>
      <p>Chief Financial Officer (CFO)</p>
      <p>Howhoon has over 20-years’ experience as an accountant in the corporate sector. Since founding CHH Management Services in 2013, she has focused her energy and passion in providing business support, consulting and coaching services for SMEs.</p>
      <p>She also volunteers her spare time to community services and undertakes social projects especially for the elderly and urban poor.</p>
    </ol>
  </div>
</div>        
<main-footer></main-footer>