<navbar></navbar>
<div class="centered90">
  <div class="static-layout">
    <h2>24/7 Showcase</h2>
    <p>INTUGLO offers our users the capacity to ensure their products are visible online at all times via our 24/7 showcase service. We enable them to manage their brand presence online on worldwide exhibitions from one single access point. Our service allows them full control on which market to enter and increase leads or visits to their booths. </p>
    <strong>Key benefits:</strong>
    <ul>
      <li>Enables a 24/7 online presence of SME products in multiple markets on an integrated platform.</li>
      <li>Offers an effective lead-generation channel and management with our CRM tools.
      </li>
      </ul>
  </div>
</div>
<main-footer></main-footer>