<navbar></navbar>
<div class="centered90">
  <div class="static-layout">
    <h2>Pricing</h2>
    <div class="pricing">
      <div class="price-box">
        <h2>Intuglo Ship</h2>
        <p>Sign-Up <span>Free</span></p>
        <div class="price">
            <p>
              <span>Booking Fee</span>
              <sup>MYR</sup>
              <span class="usd">{{logisticBookingPrice}}</span>
            </p>
        </div>
        <ul>
          <li>Sending Custom Clearance Document <span>Free</span></li>
          <li>Managing and Monitoring Shipment <span>Free</span></li>
          <!-- <li>Inventory Management <span>---</span></li>
          <li>Fulfilment Management <span>---</span></li> -->
          <li>Shipment / Courier <span>As per charge</span></li>
          <li>Other Miscellaneous Services <span>As per charge</span></li>
          <li>Custom Clearance Fee <span>As per charge</span></li>
        </ul>
      </div>
      <div class="price-box">
        <h2>Intuglo Store</h2>
        <p>Sign-Up <span>Free</span></p>
        <div class="price">
          <p>
            <span>Booking Fee</span>
            <sup>MYR</sup>
            <span class="usd">{{warehouseBookingPrice}}</span>
          </p>
        </div>
        <ul>
          <!-- <li>Sending Custom Clearance Document <span>---</span></li>
          <li>Managing and Monitoring Shipment <span>---</span></li> -->
          <li>Inventory Management <span>Free</span></li>
          <li>Fulfilment Management <span>Free</span></li>
          <li>Shipment / Courier <span>As per charge</span></li>
          <li>Other Miscellaneous Services <span>As per charge</span></li>
          <li>Custom Clearance Fee <span>As per charge</span></li>
        </ul>
      </div>
      <div class="price-box">
        <h2>Intuglo QC for Hire</h2>
        <p class="soon">Coming Soon</p>
      </div>
      <div class="price-box">
        <h2>Intuglo Production Management</h2>
        <p class="soon">Coming Soon</p>
      </div>
    </div>
  </div>
</div>
<main-footer></main-footer>