<div class="centeredLayout">

  <form [formGroup]="formGroup" (submit)="submit(formGroup.value)">
    <div class="accord relative">
      <span>Change Password</span>
      <i class="arrowUp"></i>
    </div>
    <div class="accord-content">
      <div class="row">
          <div class="form-group col-md-6">
            <label>Old Password</label>
            <input type="password" formControlName="oldPassword" (blur)="checkOldPassword($event.target.value)" class="form-control">
            <div class="_custom-error" *ngIf="oldPasswordMismatch">Old password in not correct.</div>
          </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label>New Password</label>
          <input type="password" formControlName="newpassword" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label>Confirm New Password</label>
          <input type="password" formControlName="cpassword" class="form-control">
          <div *ngIf="f.cpassword.errors" class="">
            <div class="_custom-error" *ngIf="f.cpassword.errors.mustMatch">Passwords must match</div>
          </div>
        </div>
      </div>

    </div>
        <div class="subSet">
            <div class="right _btn fixed">
                <button type="submit" class="cont">Save</button>
              </div>
        </div>
  </form>
  </div>
  <ngx-loading [show]="loading" [config]="{ primaryColour: 'red', secondaryColour: 'blue', tertiaryColour: 'red' }"></ngx-loading>
  