<!-- Content Header (Page header) -->
<section class="content-header" ng-init="getCountries();getDepartmentList();">
    <h1>
        RA Details
        <!-- <small>New Contact</small> -->
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="main.dashboard"><i class="fa fa-dashboard"></i> Dashboard</a>
        </li>
        <li class="active">RA Details</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <toaster-container toaster-options="{'time-out': 3000}"></toaster-container>
    <div class="row">
        <section class="col-lg-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title"><i class="fa fa-tags"></i> RA Details
                    </h3>
                </div>
                <!-- form start -->
                <form role="form" name="newsRaForm" novalidate class="form-horizontal">
                    <div class="box-body">
                        <div ng-if="showLoader" class="col-lg-6 pull-right" style="margin-right: 150px;">
                            <div loader-css="ball-pulse"></div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <div class="form-group col-sm-5">

                                    <label class="col-sm-4 control-label">Assign Project name</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="project_name" name="project_name" placeholder="Enter Project Name" required ng-model="newsRa.project_name"
                                            maxlength="50" ng-pattern="/^[a-zA-Z]+[a-zA-Z' ]*$/" autocomplete="off" />
                                        <span class="text-danger" ng-show="newsRaForm.project_name.$dirty &&  newsRaForm.project_name.$error.required">Project Name is required</span>
                                        <span class="text-danger" ng-show="newsRaForm.project_name.$dirty &&  newsRaForm.project_name.$error.pattern">Project Name is not valid</span>
                                    </div>
                                </div>

                                <div class="form-group col-sm-5">

                                        <label class="col-sm-4 control-label">Assign Project name</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="project_name" name="project_name" placeholder="Enter Project Name" required ng-model="newsRa.project_name"
                                                maxlength="50" ng-pattern="/^[a-zA-Z]+[a-zA-Z' ]*$/" autocomplete="off" />
                                            <span class="text-danger" ng-show="newsRaForm.project_name.$dirty &&  newsRaForm.project_name.$error.required">Project Name is required</span>
                                            <span class="text-danger" ng-show="newsRaForm.project_name.$dirty &&  newsRaForm.project_name.$error.pattern">Project Name is not valid</span>
                                        </div>
                                    </div>
                                <div class="form-group col-sm-5" >
                                    <label class="col-sm-4 control-label">Select Department</label>
                                    <div class="col-sm-8">
                                            <input type="text" class="form-control" id="project_name" name="project_name" placeholder="Enter Project Name" required ng-model="newsRa.project_name"
                                            maxlength="50" ng-pattern="/^[a-zA-Z]+[a-zA-Z' ]*$/" autocomplete="off" />
                                        
                                            
                                                    <div isteven-multi-select input-model="departmentArr" output-model="userform.departmentArr" button-label="department_name" item-label="department_name" tick-property="ticked" data-toggle="tooltip" data-placement="top" title="Select Department" data-trigger="hover" tabindex="6" name="department" output-properties="_id"></div>
                                                    <span class="text-danger" ng-show="userForm.category.$dirty &&  userForm.department.$error.required">Department is required</span>
                                    <span class="text-danger" ng-show="newsRaForm.category.$dirty &&  newsRaForm.category.$error.required">Department is required</span>
                                </div>
                            </div>

                        </div>
                        <!--<div class="form-group col-sm-5" ng-repeat="department in departmentArr track by $index">-->

                        <!--<label class="col-sm-4 control-label">Assign Project code</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="project_code" name="project_code" placeholder="Enter Project Code" required
                                            ng-model="newsRa.project_code" maxlength="50" autocomplete="off" />
                                        <span class="text-danger" ng-show="newsRaForm.project_code.$dirty &&  newsRaForm.project_code.$error.required">Project Code is required</span>
                                        <span class="text-danger" ng-show="newsRaForm.project_code.$dirty &&  newsRaForm.project_code.$error.pattern">Project Code is not valid</span>
                                    </div>-->

                        <!--<label class="col-sm-4 control-label">Department</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="department" name="department" placeholder="Enter Project Department" required
                                            ng-model="newsRa.department" maxlength="50" ng-pattern="/^[a-zA-Z]+[a-zA-Z' ]*$/"
                                            autocomplete="off" />
                                        <span class="text-danger" ng-show="newsRaForm.department.$dirty &&  newsRaForm.department.$error.required">Department is required</span>
                                        <span class="text-danger" ng-show="newsRaForm.department.$dirty &&  newsRaForm.department.$error.pattern">Department is not valid</span>
                                    </div>-->



                        <!--<label class="col-sm-4 control-label">Department</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="department" name="department" placeholder="Enter Project Department" required
                                            ng-model="departmentArr[$index].department" maxlength="50" ng-pattern="/^[a-zA-Z]+[a-zA-Z' ]*$/"
                                            autocomplete="off" />
                                        <span class="text-danger" ng-show="newsRaForm.department.$dirty &&  newsRaForm.department.$error.required">Department is required</span>
                                        <span class="text-danger" ng-show="newsRaForm.department.$dirty &&  newsRaForm.department.$error.pattern">Department is not valid</span>


                                    </div>
                                    <button class="btn btn-sm btn-primary" ng-show="$first" title="Add Department" ng-click="addDepartment()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                    <button class="btn btn-sm btn-danger" ng-show="$last && $index != 0" title="Remove Department" ng-click="removeDepartment()"><i class="fa fa-minus" aria-hidden="true"></i></button>
                                </div>-->




                        <div class="form-group col-sm-12">

                            <div class="form-group col-sm-5">
                                <label class="col-sm-4 control-label">Date of RA</label>
                                <div class="col-sm-8">
                                    <input class="form-control" autocomplete="off" name="date_of_ra" ng-model="newsRa.date_of_ra" data-date-format="dd/MM/yyyy"
                                        name="date_of_ra" bs-datepicker type="text" placeholder="Date of RA" onkeydown="return false"
                                        required>
                                        <span class="text-danger" ng-show="newsRaForm.date_of_ra.$dirty &&  newsRaForm.date_of_ra.$error.required">Date of ra is required</span>
                                </div>
                            </div>
                            <div class="form-group col-sm-5">
                                <label class="col-sm-4 control-label">Attach Team Profile</label>
                                <div class="col-sm-8">

                                    <div isteven-multi-select input-model="travellerArr" output-model="newsRa.travellerTeamArr" name="travellerArr" button-label="firstname lastname"
                                        item-label="firstname lastname" output-properties="_id" tick-property="ticked" data-toggle="tooltip"
                                        data-placement="top" title="Select Travellers" data-trigger="hover" tabindex="6"></div>

                                <span class="text-danger" ng-show="newsRaForm.travellerArr.$dirty &&  newsRaForm.travellerArr.$error.required">Team Traveller is required</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-sm-12">
                        <div class="form-group col-sm-5">
                            <label class="col-sm-4 control-label">Country Of Operation</label>
                            <div class="col-sm-8">

                                <div isteven-multi-select input-model="countryArr" output-model="newsRa.country" name="country" button-label="name" item-label="name"
                                    tick-property="ticked" data-toggle="tooltip" data-placement="top" title="Select Countries"
                                    data-trigger="hover" tabindex="6"></div>

                            <span class="text-danger" ng-show="newsRaForm.country.$dirty &&  newsRaForm.country.$error.required">Country is required</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-5">
                        <label class="col-sm-4 control-label">Approving Manager</label>
                        <div class="col-sm-8">

                            <div isteven-multi-select input-model="approvingManagerArr" name="approvingManager" output-model="newsRa.approvingManager"
                                button-label="name" item-label="name" output-properties="_id" tick-property="ticked" data-toggle="tooltip"
                                data-placement="top" title="Select Approving Managers" data-trigger="hover" tabindex="6"></div>

                        <span class="text-danger" ng-show="newsRaForm.approvingManager.$dirty &&  newsRaForm.approvingManager.$error.required">Approving Manager is required</span>
                    </div>
            </div>
    </div>
    <div class="form-group col-sm-12">
        <div class="form-group col-sm-10">
            <label class="col-sm-2 control-label">Description of Task</label>
            <div class="col-sm-10">
                <textarea class="form-control" autocomplete="off" name="description_of_task" ng-model="newsRa.description_of_task" placeholder="Description of task"
                    required style="margin-left:-8px; width: 97%"></textarea>
                    <span class="text-danger" ng-show="newsRaForm.description_of_task.$dirty &&  newsRaForm.description_of_task.$error.required">Description of task is required</span>
            </div>
        </div>
    </div>

    <!--Itineary start-->
    <div ng-repeat="itineary in scheduleArr track by $index" class="form-group col-sm-12">
        <!--<div class="form-group col-sm-12">-->
        <div class="form-group col-sm-5">
            <label class="col-sm-4 control-label">Dates of Project</label>
            <div class="col-sm-8">
                <input date-range-picker class="form-control date-picker" type="text" ng-model="scheduleArr[$index].itineary" placeholder="Itineary"
                />
            </div>
        </div>

        <!--</div>-->
        <!--<div class="form-group col-sm-12">-->
        <div class="form-group col-sm-5">
            <label class="col-sm-4 control-label">Itinerary Description</label>
            <div class="col-sm-8">
                <textarea class="form-control" autocomplete="off" name="itineary_description" ng-model="scheduleArr[$index].itineary_description"
                    placeholder="Description Of Itineary" required></textarea>
            </div>
        </div>
        <!--</div>-->
        <button class="btn btn-sm btn-primary" ng-show="$first" title="Add Itineary" ng-click="addItineary()"><i class="fa fa-plus" aria-hidden="true"></i></button>
        <button class="btn btn-sm btn-danger" ng-show="$last && $index != 0" title="Remove Itineary" ng-click="removeItineary()"><i class="fa fa-minus" aria-hidden="true"></i></button>
    </div>

    <!--end-->


    </div>
    <div class="form-group col-sm-12">
        <div class="form-group col-sm-8">
            <div class="pull-right box-tools">
                <button ng-disabled="newsRaForm.$invalid" type="button" class="btn btn-sm btn-primary" ng-click="addRa(newsRa);">Save And Return Later</button>
                <button ng-disabled="newsRaForm.$invalid" type="button" class="btn btn-sm btn-primary" style="margin-right: 200px;" ng-click="addRaAndNext(newsRa);">Next</button>
            </div>
        </div>
    </div>
    </div>
    <!-- /.box-body -->
    </form>
    </div>
    </section>
    </div>
</section>