<!-- <section class="content-header" >
    <h1>
        Communications -->
<!-- <small>New Contact</small> -->
<!--     </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="main.dashboard"><i class="fa fa-dashboard"></i> Dashboard</a>
        </li>
        <li class="active">Communications</li>
    </ol>
</section> -->
<!-- Main content -->
<section class="content" ng-init="getCommunicationData(); getRaCommunicationData()">
    <toaster-container toaster-options="{'time-out': 3000}"></toaster-container>
    <div>
        <!-- <section  ng-if="Racommunications.communication_preview"> 
            <div class="box box-primary box-solid">
                <div class="box-header">
                <h3 class="box-title">Recommended communications
                    </h3>
                </div>
                <div class="box-body">
                <form role="form" name="communicationForm" novalidate class="form-horizontal">
                        <div class="row">
                            <div ng-if="showLoader" class="col-lg-7 pull-right">
                                <div loader-css="ball-pulse"></div>
                            </div>
                            <div class="form-group col-sm-12">
                                <div class="form-group col-sm-8">
                                    <label class="col-sm-9 control-label">list of all local numbers of team including IMEI if not in traveller profile already</label>
                                </div>
                            </div>
                        <div class="form-group col-sm-12" ng-repeat=" detailsData in  Radetails_of_team track by $index">
                                <div class="form-group col-sm-4">
                                    <label class="col-sm-4 control-label">Name</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" autocomplete="off" name="name" ng-model="Radetails_of_team[$index].name" type="text" placeholder="Name"
                                            ng-pattern="/^[a-zA-Z\s]*$/" required readonly maxlength="50">
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label class="col-sm-4 control-label">Local Number</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" autocomplete="off" name="local_number" ng-model="Radetails_of_team[$index].local_number" type="text"
                                            placeholder="Local Number" required  readonly ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/"
                                            maxlength="15">
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label class="col-sm-4 control-label">IMEI</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" autocomplete="off" name="imei" ng-model="Radetails_of_team[$index].imei" type="text" placeholder="IMEI"
                                            required readonly maxlength="15" ng-pattern="/^[0-9]*$/">
                                    </div>
                                </div>
                            </div>
                             <div class="form-group col-sm-12">
                                <div class="form-group col-sm-7">
                                    <label class="col-sm-12 control-label"> list of local contacts in adddtion to fixer who can be contacted in case of emergency</label>
                                </div>
                            </div>
                            <div class="form-group col-sm-12" ng-repeat=" emergencyContactData in  Raemergency_contact track by $index">
                                <div class="form-group col-sm-4">
                                    <label class="col-sm-4 control-label">Name</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" autocomplete="off" name="local_contact_name" ng-model="Raemergency_contact[$index].name" type="text"
                                            placeholder="Name" required readonly maxlength="50" ng-pattern="/^[a-zA-Z\s]*$/">
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label class="col-sm-4 control-label">Role</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" autocomplete="off" name="role" ng-model="Raemergency_contact[$index].role" type="text" placeholder="Role"
                                            required readonly>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label class="col-sm-4 control-label">Number</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" autocomplete="off" name="number" ng-model="Raemergency_contact[$index].number" type="text" placeholder="Number"
                                            required readonly ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/"
                                            maxlength="15">
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label class="col-sm-4 control-label">Email</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" autocomplete="off" name="email" ng-model="Raemergency_contact[$index].email" type="text" placeholder="Email"
                                            required readonly ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <div class="form-group col-sm-6">
                                    <label class="col-sm-4 control-label">Call In Schedule</label>
                                </div>
                            </div>
                            <div class="form-group col-sm-12" ng-repeat=" callInScheduleData in  Racall_in_schedule track by $index">
                                <div class="form-group col-sm-4">
                                    <label class="col-sm-4 control-label">Number Of Check In</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" autocomplete="off" name="number_of_checkin" ng-model="Racall_in_schedule[$index].number_of_checkin"
                                            type="text" placeholder="How many times will you check in" required readonly maxlength="50"
                                            ng-pattern="/^[0-9]+$/" >
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label class="col-sm-4 control-label">1 Check In Time</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" autocomplete="off" name="one_check_in_time" ng-model="Racall_in_schedule[$index].one_check_in_time"
                                            type="text" placeholder="1 Check In Time" required readonly>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label class="col-sm-4 control-label">2 Check In Time</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" autocomplete="off" name="two_check_in_time" ng-model="Racall_in_schedule[$index].two_check_in_time"
                                            type="text" placeholder="2 Check In Time" required readonly>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label class="col-sm-4 control-label">Point Of Contact</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" autocomplete="off" name="point_of_contact" ng-model="Racall_in_schedule[$index].point_of_contact"
                                            type="text" placeholder="Point Of Contact" required readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <div class="form-group col-sm-8">
                                    <label class="col-sm-12 control-label">Detail an overdue procedure (how many hours before concern/ is there a telephone cascade system)</label>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label class="col-sm-1 control-label"></label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" autocomplete="off" name="detail_an_overdue_procedure" ng-model="Racommunications.detail_an_overdue_procedure"
                                        type="text" placeholder="Detail an overdue procedure" required readonly>
                                        </textarea>
                                </div>
                            </div>
                            <div class="form-group col-sm-8" style="margin-left: 85px">
                                <span>                                Do you want to receive a text reminder 15 minutes before your check in time &nbsp &nbsp &nbsp-{{(Racommunications.reminder_before_checkIn==true)?'Yes':'No'}}</span>
                            </div>

                            <div class="form-group col-sm-8" style="margin-left: 85px">
                                <span> Do you want your POC to receive
                                a text reminder if you are X hours late with your check in &nbsp &nbsp &nbsp-{{(Racommunications.want_your_poc==true)?'Yes':'No'}}</span>
                            </div>
                            </div>
                        </form>       
                     </div>
                </div>
                
                </section> -->
    </div>
    <div class="">
        <section>
            <div class="box box-primary box-solid">
                <div class="box-header">
                    <!-- /.box-header -->
                    <h3 class="box-title">Add Communications
                    </h3>
                </div>
                <!-- form start -->
                <div class="box-body">
                    <form role="form" name="communicationForm" novalidate class="form-horizontal">
                        <div class="row">
                            <div ng-if="showLoader" class="col-lg-7 ">
                                <div loader-css="ball-pulse"></div>
                            </div>



                            <div class="form-group col-sm-12">
                                <div class="form-group col-sm-12">
                                    <label class="col-sm-12 ">List additional local numbers</label>
                                </div>
                            </div>
                            <!-- add multiple details-->
                            <div class="form-group col-sm-12" ng-repeat=" detailsData in  details_of_team track by $index">
                                <div class="form-group col-sm-4">
                                    <label class="col-sm-4 control-label">Name</label>
                                    <div class="col-sm-8">
                                        <!-- ng-pattern="/^[a-zA-Z\s]*$/" -->
                                        <input class="form-control" autocomplete="off" name="name" ng-model="details_of_team[$index].name" type="text" placeholder="Name"
                                            required maxlength="50">
                                        <span class="text-danger" ng-show="communicationForm.name.$dirty &&  communicationForm.name.$error.required">Name is required</span>
                                        <!--    <span class="text-danger" ng-show="communicationForm.name.$dirty &&  communicationForm.name.$error.pattern">Name is not valid</span>
 -->
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label class="col-sm-4 control-label">Local Number</label>
                                    <div class="col-sm-8">
                                        <!--  <input class="form-control" autocomplete="off" name="local_number" ng-model="details_of_team[$index].local_number" type="text"
                                            placeholder="Local Number" required ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/"
                                            maxlength="15">
                                            <span class="text-danger" ng-show="communicationForm.local_number.$dirty &&  communicationForm.local_number.$error.required">Local Number is required</span>
                                            <span class="text-danger" ng-show="communicationForm.local_number.$dirty &&  communicationForm.local_number.$error.pattern">Local Number is not valid</span> -->
                                        <input placeholder="Local Number" required ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/" maxlength="15"
                                            id="number" type="tel" class="form-control" name="local_number" international-phone-number placeholder=" "
                                            ng-model="details_of_team[$index].local_number">
                                    </div>

                                </div>

                                <div class="form-group col-sm-4">
                                    <label class="col-sm-4 control-label">IMEI</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" autocomplete="off" name="imei" ng-model="details_of_team[$index].imei" type="text" placeholder="IMEI"
                                            required maxlength="15" ng-pattern="/^[0-9]*$/">
                                        <span class="text-danger" ng-show="communicationForm.imei.$dirty &&  communicationForm.imei.$error.required">IMEI is required</span>
                                        <span class="text-danger" ng-show="communicationForm.imei.$dirty &&  communicationForm.imei.$error.pattern">IMEI is not valid</span>
                                    </div>
                                </div>
                                <button class="btn btn-sm btn-primary" ng-show="$first" title="Add Team Member" ng-click="addDetailsOfTeam()">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                                <button class="btn btn-sm btn-danger" ng-show="$last && $index != 0" title="Remove Team Member" ng-click="removeDetailsOfTeam()">
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                </button>
                            </div>

                            <!--end -->

                            <!-- add contact in case of emergency-->
                            <div class="form-group col-sm-12">
                                <div class="form-group col-sm-12">
                                    <label class="col-sm-12 ">List any additional local emergency contacts</label>
                                </div>
                            </div>

                            <div class="form-group col-sm-12" ng-repeat=" emergencyContactData in  emergency_contact track by $index">
                                <div class="form-group col-sm-4">
                                    <label class="col-sm-4 control-label">Name</label>
                                    <div class="col-sm-8">
                                        <!-- ng-pattern="/^[a-zA-Z\s]*$/" -->
                                        <input class="form-control" autocomplete="off" name="local_contact_name" ng-model="emergency_contact[$index].name" type="text"
                                            placeholder="Name" required maxlength="50">
                                        <span class="text-danger" ng-show="communicationForm.local_contact_name.$dirty &&  communicationForm.local_contact_name.$error.required">Name is required</span>
                                        <!--   <span class="text-danger" ng-show="communicationForm.local_contact_name.$dirty &&  communicationForm.local_contact_name.$error.pattern">Name is not valid</span>
 -->
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label class="col-sm-4 control-label">Role</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" autocomplete="off" name="role" ng-model="emergency_contact[$index].role" type="text" placeholder="Role"
                                            required>
                                        <span class="text-danger" ng-show="communicationForm.role.$dirty &&  communicationForm.role.$error.required">Role is required</span>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label class="col-sm-4 control-label">Number</label>
                                    <div class="col-sm-8">
                                        <!-- <input class="form-control" autocomplete="off" name="number" ng-model="emergency_contact[$index].number" type="text" placeholder="Number"
                                            required ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/"
                                            maxlength="15">
                                            <span class="text-danger" ng-show="communicationForm.number.$dirty &&  communicationForm.number.$error.required">Number is required</span>
                                            <span class="text-danger" ng-show="communicationForm.number.$dirty &&  communicationForm.number.$error.pattern">Number is not valid</span> -->
                                        <input required ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/" maxlength="15" id="number" class="form-control"
                                            autocomplete="off" name="number" type="tel" international-phone-number ng-model="emergency_contact[$index].number" placeholder="Number">
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label class="col-sm-4 control-label">Email</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" autocomplete="off" name="email" ng-model="emergency_contact[$index].email" type="text" placeholder="Email"
                                            required ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
                                        <span class="text-danger" ng-show="communicationForm.email.$dirty &&  communicationForm.email.$error.required">Email is required</span>
                                        <span class="text-danger" ng-show="communicationForm.email.$dirty &&  communicationForm.email.$error.pattern">Email is not valid</span>
                                    </div>
                                </div>
                                <button class="btn btn-sm btn-primary" ng-show="$first" title="Add Local Contact" ng-click="addEmergencyContact()">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                                <button class="btn btn-sm btn-danger" ng-show="$last && $index != 0" title="Remove Local Contact" ng-click="removeEmergencyContact()">
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                </button>
                            </div>

                            <!--end -->

                            <!--call in schedule-->
                            <div class="form-group col-sm-12">
                                <div class="form-group col-sm-12">
                                    <label class="col-sm-8 ">Check In Schedule</label>
                                </div>
                            </div>

                            <div class="form-group col-sm-12">
                                <div class="form-group col-sm-4">
                                    <label class="col-sm-4 ">No.Of Check-ins</label>
                                    <div class="col-sm-6"> 
                                        <select name="no_of_checkin" id="no_of_checkin" class="js-states form-control" ng-model="communication.no_of_checkin"
                                            ng-selected="communication.no_of_checkin == option" ng-change="timebox(communication.no_of_checkin)">
                                            <option value="" selected disabled hidden>select </option>
                                            <option value="0">0</option>

                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                            <option value="24">24</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-sm-8"  ng-if="communication.no_of_checkin > 0">
                                    <label class="col-sm-4 ">Time Zone for Check-in </label>
                                    <div class="col-sm-6">
                                        <select name="timezone" id="timezone" class="js-states form-control" ng-model="communication.timezone" ng-selected="communication.timezone == option">
                                            <option value="" disabled selected="selected">Select Your Time Zone</option>

                                            <option value="-12:00 Eniwetok, Kwajalein">(GMT -12:00) Eniwetok, Kwajalein</option>
                                            <option value="-11:00 Midway Island, Samoa">(GMT -11:00) Midway Island, Samoa</option>
                                            <option value="-10:00 Hawaii">(GMT -10:00) Hawaii</option>
                                            <option value="-09:30 Taiohae">(GMT -9:30) Taiohae</option>
                                            <option value="-09:00 Alaska">(GMT -9:00) Alaska</option>
                                            <option value="-08:00 Pacific Time">(GMT -8:00) Pacific Time (US & Canada)</option>
                                            <option value="-07:00 Mountain Time">(GMT -7:00) Mountain Time (US & Canada)</option>
                                            <option value="-06:00 Central Time">(GMT -6:00) Central Time (US & Canada), Mexico City</option>
                                            <option value="-05:00 Eastern Time">(GMT -5:00) Eastern Time (US & Canada), Bogota, Lima</option>
                                            <option value="-04:30 Caracas">(GMT -4:30) Caracas</option>
                                            <option value="-04:00 Atlantic Time">(GMT -4:00) Atlantic Time (Canada), Caracas, La Paz</option>
                                            <option value="-03:30 Newfoundland<">(GMT -3:30) Newfoundland</option>
                                            <option value="-03:00 Brazil, Buenos Aires, Georgetown">(GMT -3:00) Brazil, Buenos Aires, Georgetown</option>
                                            <option value="-02:00 Mid-Atlantic">(GMT -2:00) Mid-Atlantic</option>
                                            <option value="-01:00 Azores, Cape Verde Islands">(GMT -1:00) Azores, Cape Verde Islands</option>
                                            <option value="+00:00 Western Europe Time, London, Lisbon, Casablanca">(GMT +0:00) Western Europe Time, London, Lisbon, Casablanca</option>
                                            <option value="+01:00 Brussels, Copenhagen, Madrid, Paris">(GMT +1:00) Brussels, Copenhagen, Madrid, Paris</option>
                                            <option value="+02:00 Kaliningrad, South Africa">(GMT +2:00) Kaliningrad, South Africa</option>
                                            <option value="+03:00 Baghdad, Riyadh, Moscow, St. Petersburg">(GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg</option>
                                            <option value="+03:30 Tehran">(GMT +3:30) Tehran</option>
                                            <option value="+04:00 Abu Dhabi, Muscat, Baku, Tbilisi">(GMT +4:00) Abu Dhabi, Muscat, Baku, Tbilisi</option>
                                            <option value="+04:30 Kabul">(GMT +4:30) Kabul</option>
                                            <option value="+05:00 Ekaterinburg, Islamabad, Karachi, Tashkent">(GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent</option>
                                            <option value="+05:30 Bombay, Calcutta, Madras, New Delhi">(GMT +5:30) Bombay, Calcutta, Madras, New Delhi</option>
                                            <option value="+05:45 Kathmandu, Pokhara">(GMT +5:45) Kathmandu, Pokhara</option>
                                            <option value="+06:00 Almaty, Dhaka, Colombo">(GMT +6:00) Almaty, Dhaka, Colombo</option>
                                            <option value="+06:30 Yangon, Mandalay">(GMT +6:30) Yangon, Mandalay</option>
                                            <option value="+07:00 Bangkok, Hanoi, Jakarta">(GMT +7:00) Bangkok, Hanoi, Jakarta</option>
                                            <option value="+08:00 Beijing, Perth, Singapore, Hong Kong">(GMT +8:00) Beijing, Perth, Singapore, Hong Kong</option>
                                            <option value="+08:45 Eucla">(GMT +8:45) Eucla</option>
                                            <option value="+09:00 Tokyo, Seoul, Osaka, Sapporo, Yakutsk">(GMT +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk</option>
                                            <option value="+09:30 Adelaide, Darwin">(GMT +9:30) Adelaide, Darwin</option>
                                            <option value="+10:00 Eastern Australia, Guam, Vladivostok">(GMT +10:00) Eastern Australia, Guam, Vladivostok</option>
                                            <option value="+10:30 Lord Howe Island">(GMT +10:30) Lord Howe Island</option>
                                            <option value="+11:00 Magadan, Solomon Islands, New Caledonia">(GMT +11:00) Magadan, Solomon Islands, New Caledonia</option>
                                            <option value="+11:30 Norfolk Island">(GMT +11:30) Norfolk Island</option>
                                            <option value="+12:00 Auckland, Wellington, Fiji, Kamchatka">(GMT +12:00) Auckland, Wellington, Fiji, Kamchatka</option>
                                            <option value="+12:45 Chatham Islands">(GMT +12:45) Chatham Islands</option>
                                            <option value="+13:00 Apia, Nukualofa">(GMT +13:00) Apia, Nukualofa</option>
                                            <option value="+14:00 Line Islands, Tokelau">(GMT +14:00) Line Islands, Tokelau</option>


                                        </select>
                                    </div>
                                </div>








                            </div>
                            <div class="form-group col-sm-12" ng-if="communication.no_of_checkin > 0" > 
                                    <div class="form-group col-sm-6">
                                            <label class="col-sm-6">Check In Times</label>
                                            
                                        </div>
                            </div>


                            <div class="form-group col-sm-12" > 

                                    <div class="form-group col-sm-3" ng-repeat="call_in_schedule in call_intime track by $index">
                                            <div class="col-sm-3">
                                    <input   name="call_in_time" ng-model="call_intime[$index].call_in_time" type="text" placeholder="call in time" value>
                                </div>
                            </div>
                            </div>
                            <div class="form-group col-sm-12" ng-if="communication.no_of_checkin > 0">
                                <div class="form-group col-sm-4">
                                    <label class="col-sm-4 ">Point Of Contact</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" autocomplete="off" name="point_of_contact" ng-model="communication.point_of_contact" type="text"
                                            placeholder="Point Of Contact" required>
                                        <span class="text-danger" ng-show="communicationForm.point_of_contact.$dirty &&  communicationForm.point_of_contact.$error.required">Point of contact is required</span>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label class="col-sm-4 ">Number</label>
                                    <div class="col-sm-8">
                                        <input required ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/" maxlength="15" id="number" class="form-control"
                                            autocomplete="off" name="number" type="tel" international-phone-number ng-model="communication.number" placeholder=" ">
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label class="col-sm-4 ">Email</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" autocomplete="off" name="email1" ng-model="communication.email" type="text" placeholder="Email"
                                            required ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
                                        <span class="text-danger" ng-show="communicationForm.email1.$dirty &&  communicationForm.email1.$error.required">Email is required</span>
                                        <span class="text-danger" ng-show="communicationForm.email1.$dirty &&  communicationForm.email1.$error.pattern">Email is not valid</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-12" > 
                                <div class="form-group col-sm-8">
                                    <label class="col-sm-12 ">Overdue procedure (minutes/hours before concern; telephone cascade plan)
                                        system)</label>
                                </div>
                            </div>
                            <div class="form-group col-sm-12" >
                                <div class="col-sm-12">
                                    <textarea class="form-control" autocomplete="off" name="detail_an_overdue_procedure" ng-model="communication.detail_an_overdue_procedure"
                                        type="text" placeholder="Overdue procedure" required>
                                        </textarea>
                                    <span class="text-danger" ng-show="communicationForm.detail_an_overdue_procedure.$dirty &&  communicationForm.detail_an_overdue_procedure.$error.required">Detail an overdue procedure is required</span>
                                </div>
                            </div>

                            <!-- <div class="form-group col-sm-8" style="margin-left: 85px">
                                <input type="checkbox" ng-model="communication.reminder_before_checkIn" name="reminder_before_checkIn">Do you want to receive a text reminder 15 minutes before your check in time
                            </div>

                            <div class="form-group col-sm-8" style="margin-left: 85px">
                                <input type="checkbox" ng-model="communication.want_your_poc"> Do you want your POC to receive
                                a text reminder if you are X hours late with your check in
                            </div>
                                <div class="form-group col-sm-12" ng-if="communicationForm.$valid==false">
                                    <div class="col-sm-10">
                                      <label>Your manager is more likely to reject this RA if fields are left blank. So please make sure that you complete the boxes to the best of your ability or give an adequate reason why you are unable to provide this information.</label>
                                        <textarea class="form-control" id="incompleteform" name="incompleteform" placeholder="Please provide the reason" ng-model="communication.incompleteform"></textarea>
                                    </div>
                                </div> -->
                            <div class="form-group col-sm-11">
                                <div class="pull-right box-tools">

                                    <!--<button ng-disabled="communicationForm.$invalid" type="button" class="btn btn-sm btn-primary" ng-click="addNewsRaCommunication(communication);">Save And Return Later</button>
                                    <button ng-disabled="communicationForm.$invalid" type="button" class="btn btn-sm btn-primary" ng-click="redirectTo('main.addContingenciesKit')">Next</button>-->
                                    <button type="button" class="btn btn-sm btn-primary" ng-click="addNewsRaCommunication(communication,Racommunications,'Save');">Save And Return Later</button>
                                    <button type="button" class="btn btn-sm btn-primary" ng-click="backToSupplierPage();">Back</button>
                                    <button type="button" class="btn btn-sm btn-primary" ng-click="addNewsRaCommunication(communication,Racommunications,'next')">Next</button>
                                </div>
                            </div>
                            <!-- ng-disabled="communicationForm.$invalid && !Racommunications"? -->
                        </div>
                        <!-- /.box-body -->
                    </form>
                </div>
        </section>
        </div>
</section>
<style>
    .k-picker-wrap .k-icon {
        cursor: pointer;
        height: 21px;
    }

    /*.box.box-primary {
    border-top-color: #3c8dbc;
    border-left-color: #3c8dbc;
    border-right-color: #3c8dbc;
    border-bottom-color: #3c8dbc;
}
.box {
    position: relative;
    background: #ffffff;
    border-top: 2px solid #c1c1c1;
    border-left: 1px solid #c1c1c1;
    border-right: 1px solid #c1c1c1;
    border-bottom: 1px solid #c1c1c1;
    margin-bottom: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: -11px;
    width: 100%;
    box-shadow: 43 34px 19px rgba(0, 0, 0, 0.1);
}*/
</style>
<!-- <script>
    $("#number").intlTelInput({
  onlyCountries: ["al"],
  utilsScript: "../../build/js/utils.js" // just for formatting/placeholders etc
});
</script>