<!-- <section class="content-header" ng-init="getCategoriesList()">
</section>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<section class="content">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">
            <span >  </span>
         </h3>
    </div>
    <div ng-if="showLoader" class="col-lg-7 pull-right">
      <div loader-css="ball-pulse"></div>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <table>
              <tr>
                <th>CountryName</th>
                <th>Classification</th>
                <th>Specific Information</th>
              </tr>
              <tr>
                <td>{{country.name}}({{country.code}})</td>
                <td ng-style="country.color === 'amber'? {'background-color':'#ffc200' }:country.color === 'red' ? { 'background-color': 'red' } : country.color == 'green' ? { 'background-color': 'green' }:{ 'background-color': 'gray' }">{{(country.color == "amber")? 'Amber':(country.color == "red")?'Red':(country.color == "green"? 'Green':'Is not set yet')}}</td>
                <td>{{country.specific_info?country.specific_info:'No information'}}</td>
              </tr>
            </table>
            <div class="chart chart-responsive">
              <div class="col-lg-6" style="width: 70%">
                <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-colours="colors" chart-series="series">
                </canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title"><span>The threat summary Below is sourced from third party risk information provider. The information is generally consistent with goverment travel advice. For in-depth information about country threat levels and bespoke risk assessment, contact info@hpriskmanagement.com</span></h3>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label ng-if="countryDescriptionarray" for="Description"><h3>Description</h3></label>
            <span><p style="font-family: arial, sans-serif;;font-size: 18px" disabled ng-bind-html="countryDescriptionarray"  id="Description" ></p></span>
            <span></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label ng-if="countrySecurityarray" for="Security"><h3>Security</h3></label>
            <span><p style="font-family: arial, sans-serif;font-size: 18px"> {{countrySecurityarray}}</p></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box-footer">
     <button ng-disabled="newsRaForm.$invalid && !supplierraData" type="button" class="btn btn-sm btn-primary" ng-click="redirectToPreviousTab();">Back</button>
     <button style="float: right" type="button" class="btn btn-sm btn-primary" ng-click="redirectTonextTab(countryDescriptionarray,countrySecurityarray)">Next</button>
  </div>
</section> -->


<section class="content-header" ng-init="getCategoriesList()">
</section>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<section class="content">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">
            <span >  </span>
         </h3>
    </div>
    <div ng-if="showLoader" class="col-lg-7 pull-right">
      <div loader-css="ball-pulse"></div>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <table>
              <tr>
                <th>CountryName</th>
                <th>Classification</th>
                <th>Specific Information</th>
              </tr>
              <tr ng-repeat="country in countryThreat">
                <td>{{country.country_id.name}}({{country.code}})</td>
                <td ng-style="country.country_id.color === 'amber'? {'background-color':'#ffc200' }:
                  country.country_id.color === 'red' ? { 'background-color': 'red' } : 
                  country.country_id.color == 'green' ? { 'background-color': 'green' }:
                  { 'background-color': 'gray' }">
                  {{(country.country_id.color == "amber")? 'Amber':(country.country_id.color == "red")?'Red':
                  (country.country_id.color == "green"? 'Green':'Is not set yet')}}</td>
                <td>{{country.country_id.specific_info?country.country_id.specific_info:'No information'}}</td>
              </tr>
            </table>
            <!-- <div class="chart chart-responsive">
              <div class="col-lg-6" style="width: 70%">
                <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" 
                  chart-colours="colors" chart-series="series">
                </canvas>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title"><span>The threat summary below is sourced from third party risk information provider. The information is generally consistent with government travel advice. For in depth information about country threat levels and bespoke risk assessment, contact info@hpriskmanagement.com</span></h3>
    </div>
    <div class="box-body" ng-repeat="(key, threat) in countryThreat">
        <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <h1 for="country">{{threat.country_id.name}}</h1>
                
              </div>
            </div>
          </div>
          <div class="row">
            <div class="chart chart-responsive">
              <div class="col-lg-6" style="width: 70%">
                <canvas id="bar-{{key}}" class="chart chart-bar" chart-data="threat.graphData" chart-labels="labelss" 
                   chart-colours="threat.colors" chart-series="series">
                </canvas>
              </div>
            </div>
          </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="Description">Description</label>
            <span><p style="font-family: arial, sans-serif;" disabled ng-bind-html="threat.description"  id="Description" ></p></span>
            <span></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="Security">Security</label>
            <span><p style="font-family: arial, sans-serif;"> {{threat.security}}</p></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box-footer">
     <button style="float: right;"  type="button" class="btn btn-sm btn-primary" ng-click="redirectTonextTab();">Next <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
    <button style="float: left;"  type="button" class="btn btn-sm btn-primary" ng-click="redirectToPreviousTab();"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</button>
  </div>
</section>
