<navbar></navbar>
<div class="centered90">
  <div class="static-layout">
    <h2>Quality Control for Hire</h2>
    <p>INTUGLO’s QC for hire service offers our clients a platform to engage QCs using a simple ‘Drop Job’ feature. Our winning proposition is the shareable capacity of the rates for each QC. This allows SMEs to better manage their cost and improve their business strategy execution.  </p>
    <strong>Key benefits:</strong>
    <ul>
      <li>Provides the capability for SMEs to hires QCs based on locations, availability and industry expertise.</li>
      <li>Optimises rates as a result of the sharing algorithm.</li>
      <li>Better on-job reporting and communication with compliance to QC standards and certification.
      </li>
      </ul>
  </div>
</div>
<main-footer></main-footer>